/* 태그 스타일 초기화 */

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
    /* inherit - 브라우저가 주는 스타일을 무시하라 */
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 기울임 취소 */
}
ol, ul, li {
    list-style: none; /* 앞에 도형빼기 */
}
a {
    color: inherit;
    text-decoration: none; /* 밑줄 삭제 */
}
button {
    border: none;
    background-color: transparent; /* 투명 */
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer; /* 오버 시 마우스 포인터를 손바닥으로 */
}
* {
    /* *(와일드카드)는 모든 태그를 말함 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* padding과 width/height를 같이주면 사이즈가 늘어나는 현상 막기 */
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}