@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    display: flex;
    justify-content: space-between;
    /* logo와 inner를 header 넓이 안에서 좌우 끝으로 배치 */
    align-items: center;
    height: 100px;
    margin: 0 30px; /* 위아래 좌우 */
}
header .inner {
    display: flex; /* gnb shop 을 좌우로 */
    align-items: center; /* 위아래 가운데 */
    gap: 34px; /* gnb와 shop 사이의 여백 */
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block; /* a 필수값 */
    font-size: 23px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 100px;
    /* header의 높이랑 1차메뉴의 a의 높이는 같아야함.. a에 행간을 header의 높이값으로 줌 
       a에 높이가 생기고 글자는 위아래 가운데 정렬 */
    padding: 0 32px;
}
header .inner .shop {
    font-size: 18px;
    font-weight: 800;
    color: #00AC47;
    border: 1px solid #00AC47;
    padding: 6px 38px 6px 49px;
    border-radius: 21px;
    position: relative;
}
header .inner .shop::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 10px;
    width: 21px;
    height: 21px;
    background: url(../images/shop.svg) no-repeat center center;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    height: 800px;
    margin: 0 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 60px;
    font-weight: 800;
    padding: 375px 0 8px 0;
}




.introduce {
    margin: 192px 0 0 0 ;
}
.introduce .wrapper {
    position: relative; /* 정렬의 기준*/
}
.introduce .tit strong {
    font-size: 22px ;
    font-weight: 800 ;
    color:#1d1d1d ;
}
.introduce .tit h2 {
    font-size: 45px ;
    color:#1d1d1d ;
}

.item_tab {
  position: relative; /* 기준점 */
}
.item_tab::after {
  content:"" ;
  position:absolute ;
  right:0;             
  top:0%;
  width:24px;             
  height:24px;
  background: url(../images/item_arrow.svg) no-repeat center center;
  z-index: 1;
}
.introduce .item_tab ul {
    display: flex;
    margin: 33px 0 32px 0;
    gap: 22px;
}
.introduce .item_tab ul li a {
    display: block;
    border: 2px solid #13A94F;
    color:#13A94F;
    padding: 13px 35px 13px 35px;
    font-size: 24px;
    font-weight: 800;
    border-radius: 35px;
}
.introduce .item_tab ul li a:hover {
    background-color: #13A94F;
    color: #fff;
    border-radius: 35px;
}
.introduce .item_kind ul {
    display: flex;
    gap: 22px;
    position: relative;
    
}
.introduce .item_kind ul li {
    box-shadow: 5px 0 8px rgba(225,225,225,0.6);
    border-radius: 35px;
}
.introduce .item_kind ul li {
    font-size: 22px;
}

.introduce .item_kind ul li a .phto {
    overflow: hidden;
    height: 316px;
    border-radius: 35px;
}
.introduce .item_kind ul li a .phto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduce .item_kind ul li p{
    margin: 34px 0 29px 30px;
   
}

.introduce .item_kind .more {
    position: absolute;
    right: 9px;
    top: 178px;
    width: 40px;
    height: 100%;
}
.network {
    background: url(../images/network_bg.jpg) no-repeat center center / cover;
    height: 900px ;
    color: #fff;
    text-align: center;
    margin: 252px 0 82px 0;
} 
.network h2 {
    font-size: 45px;
    font-weight: 800;
    padding: 327px 0 27px 0;
}
.network a {
    display: inline-block;
    margin: 45px 0 0 0;
    border: solid 1px #fff;
    padding: 13px 48px 13px 48px;
}

.community {
    margin: 170px 0 0 0;
}
.community .tit h2 {
    color: #00AC47;
}
.community .tit p {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 7px 0 0 0;
}
.community .list {
    margin: 35px 0 0 0;
    display: flex; /* group을 좌우로배치 */
    justify-content: space-between; /* 양쪽끝에 배치 */
}
.community .list .group {
    width: calc(50% - 6px);
    /*
        몇개로 분할 : 2개  = 100/2 = 50%
        사이 여백의 총합 / 분할하는 갯수로 나눔 = 12 / 2 = 6px
    */
}
.community .list .group ul {
    display: flex; /* li를 좌우에 배치 */
    flex-wrap: wrap; /* li가 2줄로 나타나는 걸 허락 */
    gap: 12px;
}

.community .list .group ul li.color,
.community .list .group ul li.gray {
    width: calc(50% - 6px);
}
.community .list .group ul li.color a,
.community .list .group ul li.gray a {
    height: 233px;
}
.community .list .group ul li.color.bg1 a {
    background-color: #00AC47;
    color: #fff;
}
.community .list .group ul li.color.bg2 a {
    background-color: #005EB8;
    color: #fff;
}
.community .list .group ul li.gray a {
    background-color: #F4F4F4;
    color: #1d1d1d;
}
.community .list .group ul li.review {
    width: 100%; 
    /* 나를 감싸는 요소 ul의 넓이의 100%가 들어감 */
}
.community .list .group ul li.review a {
    height: 387px;
    color: #fff;
}
.community .list .group ul li.review.bg1 a {
    background: url(../images/community_bg1.jpg) no-repeat center center / cover;
}
.community .list .group ul li.review.bg2 a {
    background: url(../images/community_bg2.jpg) no-repeat center center / cover;
}
.community .list .group ul li a {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.community .list .group ul li a h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 5px 0 30px 0;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .list .group ul li a .date {
    display: flex;
    gap: 22px;
}
.community .list .group ul li.color a .date,
.community .list .group ul li.review a .date {
    color: rgba(255,255,255,0.8);
}
.community .list .group ul li.gray a .date {
    color: #666;
}
.community .list .group ul li a .date span:first-child {
    position: relative;
}
.community .list .group ul li a .date span:first-child::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 7px;
    width: 1px;
    height: 11px;
    background-color: rgba(255,255,255,0.6);
}
.community .list .group ul li.gray a .date span:first-child::after {
    background-color: #ccc;
}

footer {
    background-color: #2D2D2D;
    padding: 66px 0 95px 0;
    color: rgba(255,255,255,0.8);
    margin: 145px 0 0 0;
}
footer .f_nav {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 0 0 35px 0;
}
footer .f_nav ul {
    display: flex;
    gap: 33px;
}
footer .f_nav ul li.privacy a {
    font-weight: 800;
}
footer .f_info {
    margin: 34px 0 22px 0;
}
footer .f_info .group {
    display: flex;
    gap: 30px;
    margin: 0 0 5px 0;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}