@font-face {
    font-family: 'Alice';
    src: url('../fonts/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Alice';
    src: url('../fonts/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}