@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white); /* svg 아이콘 색상 */
    display: flex; /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin); /* 위아래-좌우 */
}
header .logo a {
    display: block;
    width: 200px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex; /* search-mypage 좌우배치 */
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 18px;
}

/* header가 fixed되었을때 */
header.fixed {
    background-color: var(--color-white);
    color: var(--color-title);
    fill: var(--color-basic);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

/************************* 시작 : pc버전 메뉴 ************************************/
/* 1024이하는 메뉴가 접힘..  1025이상일때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap; 
        /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오게함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li를 기준으로 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 14px);
        background-color: var(--color-main);
        border-radius: 10px;
        border-top: 0;
        min-width: 100%; /* li 넓이의 100% */
        padding: 20px 25px;
        display: none; /* 오버했을때만 나옴 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 2px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-basic);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        /* display: block !important;  */
    }
}/*@media*/
/* 1025이상에서 1280이하 그 사이에서만 적용  */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}
/************************* 끝 : pc버전 메뉴 ************************************/
/************************* 시작 : 모바일 ************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: var(--header-var);
            }
            header .logo a {
                /* width: 145px;
                height: 22px; */
                width: clamp(145px, 20vw, 200px);
                /* 최소값, 평소의값, 최대값 
                    100vw가 브라우저의 넓이 */
            }
            header .util {
                display: none; /* 숨김 */
            }
            header .gnb .gnb_open {
                display: flex; /* i태그 가운데 정렬 */
                justify-content: center;
                align-items: center;
                width: var(--header-var);
                height: var(--header-var);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 36.16%;
            }
            header .gnb .gnb_wrap {
                /* display: none; */
                position: absolute; /* header를 기준으로 정렬 */
                right: -110%;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-basic);
                fill: var(--color-basic);
                transition: right 0.5s;
            }
            /* 메뉴가 열렸을때  */
            header.menu_mo .gnb .gnb_wrap {
                /* display: block; */
                right: 0;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: var(--header-var) 0 0 0;
                height: calc(100dvh - var(--header-var));
                overflow-y: auto; 
                /* 주어진 높이보다 콘텐츠가 짧으면 스크롤바X 
                   콘텐츠가 더 긴 경우에만 스크롤바가 생김 */
                padding: 17px 0 0 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: var(--line-height-title);
                letter-spacing: var(--letter-spacing-title);
                color: var(--color-title);
                padding: 16px 40px 16px var(--wrapper-margin);
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--color-main);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: var(--wrapper-margin);
                top: 50%; /* a의 높이의 절반 */
                transform: translateY(-50%); /* after 높이의 절반 */
                width: 15px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%233D3D3D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33906L13.5125 0.826562C13.7 0.639062 13.9187 0.548437 14.1687 0.554687C14.4187 0.560937 14.6375 0.657812 14.825 0.845312C15.0125 1.03281 15.1062 1.25156 15.1062 1.50156C15.1062 1.75156 15.0125 1.97031 14.825 2.15781L9.06871 7.93281C8.91871 8.08281 8.74996 8.19531 8.56246 8.27031C8.37496 8.34531 8.18746 8.38281 7.99996 8.38281C7.81246 8.38281 7.62496 8.34531 7.43746 8.27031C7.24996 8.19531 7.08121 8.08281 6.93121 7.93281L1.15621 2.15781C0.968711 1.97031 0.878086 1.74844 0.884336 1.49219C0.890586 1.23594 0.987461 1.01406 1.17496 0.826563C1.36246 0.639063 1.58121 0.545313 1.83121 0.545313C2.08121 0.545313 2.29996 0.639063 2.48746 0.826563L7.99996 6.33906Z' /%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: translateY(-50%) rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%23FF4E46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33906L13.5125 0.826562C13.7 0.639062 13.9187 0.548437 14.1687 0.554687C14.4187 0.560937 14.6375 0.657812 14.825 0.845312C15.0125 1.03281 15.1062 1.25156 15.1062 1.50156C15.1062 1.75156 15.0125 1.97031 14.825 2.15781L9.06871 7.93281C8.91871 8.08281 8.74996 8.19531 8.56246 8.27031C8.37496 8.34531 8.18746 8.38281 7.99996 8.38281C7.81246 8.38281 7.62496 8.34531 7.43746 8.27031C7.24996 8.19531 7.08121 8.08281 6.93121 7.93281L1.15621 2.15781C0.968711 1.97031 0.878086 1.74844 0.884336 1.49219C0.890586 1.23594 0.987461 1.01406 1.17496 0.826563C1.36246 0.639063 1.58121 0.545313 1.83121 0.545313C2.08121 0.545313 2.29996 0.639063 2.48746 0.826563L7.99996 6.33906Z' /%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                margin: 10px var(--wrapper-margin) 10px var(--wrapper-margin);
                display: none; /* 1차메뉴를 클릭할때만 나옴 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
                border-bottom: 1px solid var(--color-line2);
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:last-child {
                border-bottom: none; /* 0 도 됨 - 선취소 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 7px 0 7px 12px;
            }
            header .gnb .gnb_wrap .gnb_logo {
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                left: var(--wrapper-margin);
                top: 0;
                width: clamp(145px, 20vw, 200px);
                height: var(--header-var);
                background: url(../images/logo.svg) no-repeat center center / contain;
            }
            header .gnb .gnb_wrap .gnb_close {
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-var);
                height: var(--header-var);
                display: flex; /* i태그를 가운데 */
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_wrap .gnb_close i {
                display: block;
                width: 26.41%;
            }
}



.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0 0 calc(15dvh + 93px) 0;
    /* 글자가 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.2s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 12px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 140px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex; /* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 9px;
    /* 이미지나 svg 코드 등은 넓이만 줘도 높이는 비율에 맞게 들어감 */
    margin: 0 0 3px 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 3px 0;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide {
                height: 400px; /* 브라우저 높이와 동일 */
            }
            .visual .swiper-slide p {
                margin: 0 0 92px 0;
                transform: translate(0, 20px);
            }
            .visual .ctrl_btn {
                left: 16px;
                bottom: 38px;
                gap: 0 6px;
            }
            .visual .ctrl_btn .paging .bar {
                width: 72px;
            }
}

.find {
    background-color: var(--color-title);
    color: var(--color-white);
    /* padding: 151px 0 142px 0; */
    padding: clamp(88px, 12vw, 151px) 0 clamp(80px, 11vw, 142px);
}
.find h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    text-align: center;
}
.find .tab_list {
    margin: 32px 0 0 0;
}
.find .tab_list ul {
    display: flex; /* li 좌우 */
    justify-content: center;
    gap: 0 10px;
}
.find .tab_list ul li button {
    display: block;
    padding: 0.25em 1.0833em 0.2917em 1.0833em;
    border-radius: 30px;
    color: var(--color-white60);
    font-size: var(--font-size-title2); /*24*/
    font-weight: var(--font-weight-bold);
}
.find .tab_list ul li.active button {
    background-color: var(--color-main);
    color: var(--color-white);
}
.find .tab_list ul li.item2.active button {
    background-color: var(--color-main2);
}
.find .tab_content {
    margin: 22px 0 0 0;
}
.find .tab_content .tab_item {
    position: relative; /* 버튼 정렬의 기준 */
    display: none; /* active 클래스가 있는 요소만 보임 */
}
.find .tab_content .tab_item.active {
    display: block; /* active 클래스가 있는 요소만 보임 */
}
.find .tab_content .tab_item .list .swiper-slide {
    width: 250px;
}
.find .tab_content .tab_item .list .swiper-slide a {
    display: block;
}
.find .tab_content .tab_item .list .swiper-slide a .photo {
    overflow: hidden;
    height: 385px;
    border-radius: 20px;
    position: relative; /* date 정렬의 기준 */
}
.find .tab_content .tab_item .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.find .tab_content .tab_item .list .swiper-slide a .photo .date {
    position: absolute; /* photo를 기준으로 정렬 */
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
    background-color: var(--color-main);
    color: var(--color-white);
    padding: 3px 14px;
}
.find .tab_content .tab_item.item2 .list .swiper-slide a .photo .date {
    background-color: var(--color-main2);
}
/* .find .tab_content .tab_item .list .swiper-slide a .txt {
    background-color: var(--color-white);
    color: var(--color-basic);
    border-radius: 0 0 20px 20px;
    padding: 20px;
} */
.find .tab_content .tab_item .list .swiper-slide a .txt h4 {
    display: flex; /* strong-span 좌우 배치 */
    gap: 0 7px;
    align-items: center;
    margin: 25px 0 0 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt h4 strong {
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);

    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul {
    margin: 12px 0 0 0;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li {
    display: flex; /* strong-span 좌우 배치 */
    gap: 0 12px;
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong {
    color: var(--color-white60);
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
    display: none; /* 모바일에서만 보임 */
}
.find .tab_content .tab_item .list .swiper-slide a .txt ul li span {
    /* 1줄제한 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.find .tab_content .tab_item .ctrl_btn {
    position: absolute;
    right: 0;
    top: -65px;
    z-index: 10;
    display: flex;
    gap: 0 5px;
}
.find .tab_content .tab_item .ctrl_btn .prev,
.find .tab_content .tab_item .ctrl_btn .next,
.find .tab_content .tab_item .ctrl_btn .more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-white40);
    border-radius: 50%;
    fill: var(--color-white);    
}
.find .tab_content .tab_item .ctrl_btn .prev i,
.find .tab_content .tab_item .ctrl_btn .next i {
    display: block;
    width: 15.57px;
}
.find .tab_content .tab_item .ctrl_btn .more i {
    display: flex;
    width: 14px;
}
@media screen and (max-width:768px){
            .find h2 {
                text-align: left;
            }
            .find .tab_list {
                margin: 17px 0 0 0;
            }
            .find .tab_list ul {
                justify-content: flex-start;
                gap: 0 8px;
            }
            .find .tab_list ul li button {
                padding: 1px 8px 2px 8px;
                border-radius: 5px;
                font-size: 18px;
            }
            .find .tab_content {
                margin: 21px 0 0 0;
            }
            .find .tab_content .tab_item .list .swiper-slide a .photo {
                height: 300px;
                border-radius: 10px;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt h4 {
                margin: 14px 0 0 0;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul {
                margin: 10px 0 0 0;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li {
                gap: 0 8px;
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.mo_only {
                display: block; /* 모바일에서만 보임 */
            }
            .find .tab_content .tab_item .list .swiper-slide a .txt ul li strong.pc_only {
                display: none; /* pc에서만 보임 */
            }
            .find .tab_content .tab_item .ctrl_btn {
                top: -52px;
                gap: 0;
            }
            .find .tab_content .tab_item .ctrl_btn .more {
                width: 26px;
                height: 26px; 
            }
            .find .tab_content .tab_item .ctrl_btn .prev,
            .find .tab_content .tab_item .ctrl_btn .next {
                display: none; /* 모바일 숨김 */
            }
            .find .tab_content .tab_item .ctrl_btn .more i {
                width: 9px;
            }
}/*@media*/

.slogan {
    margin: clamp(98px, 16vw, 210px) 0 clamp(113px, 11vw, 142px) 0;
    text-align: center;
}
.slogan h2 {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: 1.8;
    color: var(--color-title);
}
.slogan h2 br.mo_only {
    display: none; /* 모바일에서만 보임 */
}
.slogan h2 strong {
    display: inline-block;
    vertical-align: middle; /* 위아래 가운데 */
    position: relative; /* before 정렬의 기준 */
}
.slogan h2 strong::before {
    content: "";
    position: absolute; /* strong을 기준으로 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 좌우의 가운데 위아래 가운데 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 85%;
    height: 3em;
}
.slogan h2 strong.place {
    width: 2.6667em;
}
.slogan h2 strong.place::before {
    background-image: url(../images/slogan_place.png);
    transform: translate(-50%, -70%);
}
.slogan h2 strong.animal {
    width: 2.6667em;
}
.slogan h2 strong.animal::before {
    background-image: url(../images/slogan_animal.png);
}
.slogan h2 strong.center {
    width: 2.3333em;
}
.slogan h2 strong.center::before {
    background-image: url(../images/slogan_center.png);
}
.slogan h2 strong.call {
    width: 2.1333em;
}
.slogan h2 strong.call::before {
    background-image: url(../images/slogan_call.png);
}
.slogan p {
    margin: 49px 0 0 0;
    color: var(--color-gray);
}
@media screen and (max-width:768px){
    .slogan h2 br.mo_only {
        display: block; /* 모바일에서만 보임 */
    }
    .slogan h2 br.pc_only {
        display: none; /* pc에서만 보임 */
    }
    .slogan p {
        display: none;
    }
}/*@media*/

.adopt {
    overflow-x: hidden; /* rolling 가로 스크롤바 삭제 */
    background-color: var(--color-title);
    color: var(--color-white);
    fill: var(--color-white);
    padding: clamp(111px, 17vw, 222px) 0 clamp(193px, 25vw, 318px) 0;
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.adopt .tit h2 {
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
}
.adopt .list {
    margin: 46px 0 0 0;
}
.adopt .list .swiper-slide {
    width: clamp(250px, 20vw, 300px);
}
.adopt .list .swiper-slide a {
    display: flex;
    flex-direction: column; 
    align-items: center; /* 가운데 */
    text-align: center;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: clamp(250px, 20vw, 300px);
    border-radius: 50%;
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adopt .list .swiper-slide a .cate {
    background-color: var(--color-main2);
    border-radius: 20px;
    padding: 0 0.7647em;
    margin-top: -0.6471em; /* margin은 마이너스값이 가능 */
}
.adopt .list .swiper-slide a .cate.cate2 {
    background-color: var(--color-main);
}
.adopt .list .swiper-slide a h3 {
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0.375em 0 0.125em 0;
}
.adopt .list .swiper-slide a p {
    overflow: hidden;
    line-height: 1.5;
    height: 3em; /* 행간*줄수 = 단위는 em */
    margin: 0 10% 0 10%; /* li 넓이의 10% */
}
/* .adopt .ctrl_btn {
    margin: 86px 0 0 0;
    display: flex;
    justify-content: center;
} */

.adopt .ctrl_btn {
    position: absolute; /* adopt */
    right: calc(50% - 630px);
    top: clamp(111px, 17vw, 222px);
    display: flex;
    gap: 0 10px;
}
.adopt .ctrl_btn .prev,
.adopt .ctrl_btn .next,
.adopt .ctrl_btn .more a {
    display: flex;
    justify-content: center;
    align-items: center; /* i태그 가운데 정렬 */
    width: 40px;
    height: 40px;
    background-color: var(--color-white40);
    border-radius: 50%;
}
.adopt .ctrl_btn .prev i,
.adopt .ctrl_btn .next i {
    display: block;
    width: 15.57px;
}
.adopt .ctrl_btn .more a i {
    display: block;
    width: 14px;
}
.adopt .rolling {
    position: absolute; /* adopt를 기준으로 정렬 */
    left: 0;
    bottom: 5%;
    width: 100%;
    font-size: clamp(50px, 9vw, 100px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    color: var(--color-white10);
    white-space: nowrap; /* 줄바꿈 금지 */
}
.adopt .rolling p {
    position: absolute; /* rolling을 기준으로 정렬 */
    left: 0;
    bottom: 0;
    animation: adopt_roll 20s linear infinite;
    /* 애니메이션이름, 3초동안 실행, 가속도X, 무한반복 */
}
@keyframes adopt_roll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50.17%); }
}

@media screen and (max-width:1320px){
    .adopt .ctrl_btn {
        right: var(--wrapper-margin);
    }
}/* @media */
@media screen and (max-width:768px){
    .adopt .tit h2 {
        text-align: left;
    }
    .adopt .list {
        margin-left: var(--wrapper-margin);
    }
    .adopt .list .swiper-slide a .photo {
        border-radius: 20px;
    }
    .adopt .ctrl_btn .prev,
    .adopt .ctrl_btn .next {
        display: none; /* 숨김 */
    }
    .adopt .ctrl_btn .more a {
        width: 26px;
        height: 26px;
    }
    .adopt .ctrl_btn .more a i {
        width: 9px;
        margin-bottom: 5px;
    }
}/* @media */

footer {
    margin: 1500px 0 0 0;
}