@import url(common.css);
@import url(default.css);
@import url(fonts.css);

section h2,
section h3 {
    font-family: "Eulyoo1945";
    line-height: 1.3;
    font-weight: 700;
}
section .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
}
section .tit p {
    margin: 12px 0 0 0;
}
@media screen and (max-width:768px){
                    /* section h2,
                    section h3 {
                        font-family: "Eulyoo1945";
                        line-height: 1.3;
                        font-weight: 700;
                    } */
                    section .tit h2 {
                        font-size: 24px;
                        color: #1d1d1d;
                    }
                    section .tit p {
                        margin: 5px 0 0 0;
                    }
}
header {
    position: absolute; /*wrap을 기준으로*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
header .logo a { /*a클릭해야 이동하니까*/
    display: block;
    width: 190px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /*contain = 로고를 짤리지 않게 영역에 맞게 사이즈 조정 명령*/
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /*모바일에서만 구현(햄버거메뉴)*/
}
header .gnb .gnb_wrap ul {
    display: flex; /*li 좌우배치*/
}
header .gnb .gnb_wrap ul a {
    display: block;
    font-family: "Eulyoo1945";
    font-size: 23px;
    line-height: 90px; /*헤더 높이*/
    padding: 0 20px; /*반씩 좌우 간격주기*/
    transition: 0.5s;
}
header .util {
    display: flex;
    transition: 0.5s;
}
header .util .mypage,
header .util .search_open {
    display: block;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}

header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1855' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1855)'%3E%3Cpath d='M18.9999 19.0002C17.2583 19.0002 15.7673 18.38 14.527 17.1397C13.2867 15.8995 12.6666 14.4085 12.6666 12.6668C12.6666 10.9252 13.2867 9.43419 14.527 8.19391C15.7673 6.95364 17.2583 6.3335 18.9999 6.3335C20.7416 6.3335 22.2326 6.95364 23.4728 8.19391C24.7131 9.43419 25.3333 10.9252 25.3333 12.6668C25.3333 14.4085 24.7131 15.8995 23.4728 17.1397C22.2326 18.38 20.7416 19.0002 18.9999 19.0002ZM6.33325 28.5002V27.2335C6.33325 26.3363 6.56415 25.5116 7.02596 24.7595C7.48777 24.0075 8.10131 23.4335 8.86659 23.0377C10.5027 22.2196 12.1652 21.6061 13.8541 21.197C15.543 20.788 17.2583 20.5835 18.9999 20.5835C20.7416 20.5835 22.4569 20.788 24.1458 21.197C25.8346 21.6061 27.4971 22.2196 29.1333 23.0377C29.8985 23.4335 30.5121 24.0075 30.9739 24.7595C31.4357 25.5116 31.6666 26.3363 31.6666 27.2335V28.5002C31.6666 29.371 31.3565 30.1165 30.7364 30.7366C30.1162 31.3568 29.3708 31.6668 28.4999 31.6668H9.49992C8.62909 31.6668 7.8836 31.3568 7.26346 30.7366C6.64332 30.1165 6.33325 29.371 6.33325 28.5002ZM9.49992 28.5002H28.4999V27.2335C28.4999 26.9432 28.4273 26.6793 28.2822 26.4418C28.1371 26.2043 27.9458 26.0196 27.7083 25.8877C26.2833 25.1752 24.8451 24.6408 23.3937 24.2845C21.9423 23.9283 20.4777 23.7502 18.9999 23.7502C17.5221 23.7502 16.0576 23.9283 14.6062 24.2845C13.1548 24.6408 11.7166 25.1752 10.2916 25.8877C10.0541 26.0196 9.86277 26.2043 9.71763 26.4418C9.57249 26.6793 9.49992 26.9432 9.49992 27.2335V28.5002ZM18.9999 15.8335C19.8708 15.8335 20.6162 15.5234 21.2364 14.9033C21.8565 14.2831 22.1666 13.5377 22.1666 12.6668C22.1666 11.796 21.8565 11.0505 21.2364 10.4304C20.6162 9.81023 19.8708 9.50016 18.9999 9.50016C18.1291 9.50016 17.3836 9.81023 16.7635 10.4304C16.1433 11.0505 15.8333 11.796 15.8333 12.6668C15.8333 13.5377 16.1433 14.2831 16.7635 14.9033C17.3836 15.5234 18.1291 15.8335 18.9999 15.8335Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1858' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='37' height='37'%3E%3Crect width='37' height='37' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1858)'%3E%3Cpath d='M14.2313 23.5944C11.6145 23.5944 9.3998 22.6881 7.58724 20.8756C5.77469 19.063 4.86841 16.8483 4.86841 14.2315C4.86841 11.6147 5.77469 9.40005 7.58724 7.58749C9.3998 5.77493 11.6145 4.86865 14.2313 4.86865C16.8481 4.86865 19.0628 5.77493 20.8753 7.58749C22.6879 9.40005 23.5942 11.6147 23.5942 14.2315C23.5942 15.2879 23.4261 16.2842 23.09 17.2205C22.7539 18.1567 22.2978 18.985 21.7216 19.7052L29.7881 27.7717C30.0522 28.0358 30.1842 28.3719 30.1842 28.78C30.1842 29.1881 30.0522 29.5242 29.7881 29.7883C29.524 30.0524 29.1879 30.1844 28.7798 30.1844C28.3716 30.1844 28.0355 30.0524 27.7715 29.7883L19.705 21.7218C18.9848 22.298 18.1565 22.7542 17.2202 23.0903C16.2839 23.4264 15.2876 23.5944 14.2313 23.5944ZM14.2313 20.7135C16.0318 20.7135 17.5623 20.0833 18.8227 18.8229C20.0831 17.5626 20.7133 16.0321 20.7133 14.2315C20.7133 12.431 20.0831 10.9005 18.8227 9.64012C17.5623 8.37973 16.0318 7.74954 14.2313 7.74954C12.4307 7.74954 10.9003 8.37973 9.63988 9.64012C8.37949 10.9005 7.74929 12.431 7.74929 14.2315C7.74929 16.0321 8.37949 17.5626 9.63988 18.8229C10.9003 20.0833 12.4307 20.7135 14.2313 20.7135Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*header에 fixed클래스가 추가됬을 때*/
header.fixed {
    position: fixed;
    height: 80px;
    background-color: #694E47;
}
header .gnb .gnb_wrap ul a {
    line-height: 70px; /*헤더에서 a영역 넘치는거 빼고 높이주기*/
}


@media screen and (max-width:768px){
                        header {
                            height: 56px;
                            padding: 0 0 0 16px;
                        }
                        header .logo a { /*a클릭해야 이동하니까*/
                            display: block;
                            width: 117px;
                            height: 19px;
                        }
                        header .gnb .gnb_open {
                            display: block;
                            width: 56px;
                            height: 56px;
                            background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_2210' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_2210)'%3E%3Cpath d='M5.1355 8.4585C4.87873 8.4585 4.66354 8.3716 4.48995 8.1978C4.31615 8.024 4.22925 7.80871 4.22925 7.55194C4.22925 7.29497 4.31615 7.07979 4.48995 6.90639C4.66354 6.73279 4.87873 6.646 5.1355 6.646H23.8647C24.1214 6.646 24.3366 6.7329 24.5102 6.90669C24.684 7.08049 24.7709 7.29578 24.7709 7.55255C24.7709 7.80952 24.684 8.0247 24.5102 8.1981C24.3366 8.3717 24.1214 8.4585 23.8647 8.4585H5.1355ZM5.1355 22.3543C4.87873 22.3543 4.66354 22.2674 4.48995 22.0936C4.31615 21.9198 4.22925 21.7045 4.22925 21.4478C4.22925 21.1908 4.31615 20.9756 4.48995 20.8022C4.66354 20.6286 4.87873 20.5418 5.1355 20.5418H23.8647C24.1214 20.5418 24.3366 20.6287 24.5102 20.8025C24.684 20.9763 24.7709 21.1916 24.7709 21.4484C24.7709 21.7054 24.684 21.9205 24.5102 22.0939C24.3366 22.2675 24.1214 22.3543 23.8647 22.3543H5.1355ZM5.1355 15.4064C4.87873 15.4064 4.66354 15.3195 4.48995 15.1457C4.31615 14.9719 4.22925 14.7566 4.22925 14.4999C4.22925 14.2429 4.31615 14.0277 4.48995 13.8543C4.66354 13.6807 4.87873 13.5939 5.1355 13.5939H23.8647C24.1214 13.5939 24.3366 13.6808 24.5102 13.8546C24.684 14.0284 24.7709 14.2437 24.7709 14.5005C24.7709 14.7574 24.684 14.9726 24.5102 15.146C24.3366 15.3196 24.1214 15.4064 23.8647 15.4064H5.1355Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        header .gnb .gnb_wrap {
                            display: none;
                        }
                        header .util {
                            display: none;
                        }
                        header.fixed {
                            height: 56px;
                        }
                        header.fixed .gnb .gnb_open {
                            background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_2210' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='29' height='29'%3E%3Crect width='29' height='29' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_2210)'%3E%3Cpath d='M5.1355 8.4585C4.87873 8.4585 4.66354 8.3716 4.48995 8.1978C4.31615 8.024 4.22925 7.80871 4.22925 7.55194C4.22925 7.29497 4.31615 7.07979 4.48995 6.90639C4.66354 6.73279 4.87873 6.646 5.1355 6.646H23.8647C24.1214 6.646 24.3366 6.7329 24.5102 6.90669C24.684 7.08049 24.7709 7.29578 24.7709 7.55255C24.7709 7.80952 24.684 8.0247 24.5102 8.1981C24.3366 8.3717 24.1214 8.4585 23.8647 8.4585H5.1355ZM5.1355 22.3543C4.87873 22.3543 4.66354 22.2674 4.48995 22.0936C4.31615 21.9198 4.22925 21.7045 4.22925 21.4478C4.22925 21.1908 4.31615 20.9756 4.48995 20.8022C4.66354 20.6286 4.87873 20.5418 5.1355 20.5418H23.8647C24.1214 20.5418 24.3366 20.6287 24.5102 20.8025C24.684 20.9763 24.7709 21.1916 24.7709 21.4484C24.7709 21.7054 24.684 21.9205 24.5102 22.0939C24.3366 22.2675 24.1214 22.3543 23.8647 22.3543H5.1355ZM5.1355 15.4064C4.87873 15.4064 4.66354 15.3195 4.48995 15.1457C4.31615 14.9719 4.22925 14.7566 4.22925 14.4999C4.22925 14.2429 4.31615 14.0277 4.48995 13.8543C4.66354 13.6807 4.87873 13.5939 5.1355 13.5939H23.8647C24.1214 13.5939 24.3366 13.6808 24.5102 13.8546C24.684 14.0284 24.7709 14.2437 24.7709 14.5005C24.7709 14.7574 24.684 14.9726 24.5102 15.146C24.3366 15.3196 24.1214 15.4064 23.8647 15.4064H5.1355Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
    
} /*@media*/

.visual {
    position: relative; /*컨트롤 버튼의 정렬기준*/
}
.visual .swiper-slide {
    height: 100dvh;
    min-height: 400px; /*최소 높이*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex; /**/
    align-items: flex-end;
}

.visual .swiper-slide.popup1 { /* wiper-slided와 popup1은  같은 태그를 불러오는거라 붙여써야함   */
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}

.visual .swiper-slide h3 {
    font-size: 65px;
    font-weight: 700;
    margin: 0 0 11px 0; /*버튼과 반응 방향이 달라서 마진으로 높이 줄수 없음*/
    transition: 0.3s; /*애니메이션 효과주기전에 속도명렬*/
    transition-delay: 0.8s; /*기다렸다가 나타나*/
    transform: translateY(30px); /*세로(Y축)로 50px 위로 옮겨라!*/
    opacity: 0; /*안보였다가 ->엑티브에서 1로 보이게효과*/
 
}
.visual .swiper-slide p {
    margin: 0 0 15dvh 0 ;
    transition: 0.3s;
    transition-delay: 0.8s;
    transform: translateY(30px);
    opacity: 0;/*안보였다가 ->엑티브에서 1로 보이게효과*/
}

.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;/*엑티브에서 보이게*/
}
.visual .swiper-slide.swiper-slide-active p {   
    transform: translateY(0);
    opacity: 1;/*엑티브에서 보이게*/
}
.visual .ctrl_btn {
    position: absolute;
    bottom: 5dvh;
    left: 50%; /*중간에 오게하기위해*/
    transform: translate(-50%);
    /*자기 자신 크기의 50%만큼 왼쪽으로 이동.*/
    /*transform: translate(x, y)에서 퍼센트(%)는 부모가 아니라 자기 자신 크기 기준으로 계산됨*/
    z-index: 10;
    display: flex;


}
.visual .ctrl_btn .btn_left,
.visual .ctrl_btn .btn_right {
    display: flex; /*버튼 가로정렬: 다 한줄 정렬해야하니까*/
    align-items: center;
}

.visual .ctrl_btn .paging { /*스위퍼css가 준 임의 값 빼기*/
    bottom: auto;
    left: auto;
    width: auto;
    z-index: 1;
    display: flex; /*버튼 가로정렬*/
    gap: 0 5px;
}

.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    /* display: inline-block;*/ 
    border-radius: 4px; /*보더값 깨지니까 = 넓이의 반값을 줌! */
    background: transparent; /*transpar = 색깔없음*/
    border: 1px solid #fff;
    opacity:1;
    margin: 0;
}

/*제이쿼리가 준 불렛에 active 붙었을때 : 페이징된 동그라미*/
/*.visual .ctrl_btn .paging .swiper-pagination-bullet 태그에
블릿이기도 하고 블릿 엑티브이기도하고*/
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    background: #fff;
}
.visual .ctrl_btn .btn_stop {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1735' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1735)'%3E%3Cpath d='M16 19C15.45 19 14.9792 18.8042 14.5875 18.4125C14.1958 18.0208 14 17.55 14 17V7C14 6.45 14.1958 5.97917 14.5875 5.5875C14.9792 5.19583 15.45 5 16 5C16.55 5 17.0208 5.19583 17.4125 5.5875C17.8042 5.97917 18 6.45 18 7V17C18 17.55 17.8042 18.0208 17.4125 18.4125C17.0208 18.8042 16.55 19 16 19ZM8 19C7.45 19 6.97917 18.8042 6.5875 18.4125C6.19583 18.0208 6 17.55 6 17V7C6 6.45 6.19583 5.97917 6.5875 5.5875C6.97917 5.19583 7.45 5 8 5C8.55 5 9.02083 5.19583 9.4125 5.5875C9.80417 5.97917 10 6.45 10 7V17C10 17.55 9.80417 18.0208 9.4125 18.4125C9.02083 18.8042 8.55 19 8 19Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 12.9C0.55 12.9 0.375 12.8313 0.225 12.6938C0.075 12.5563 0 12.375 0 12.15V0.75C0 0.525 0.075 0.34375 0.225 0.20625C0.375 0.06875 0.55 0 0.75 0C0.8 0 0.975 0.075 1.275 0.225L6.7125 5.6625C6.8375 5.7875 6.925 5.9125 6.975 6.0375C7.025 6.1625 7.05 6.3 7.05 6.45C7.05 6.6 7.025 6.7375 6.975 6.8625C6.925 6.9875 6.8375 7.1125 6.7125 7.2375L1.275 12.675C1.2 12.75 1.11875 12.8062 1.03125 12.8438C0.94375 12.8813 0.85 12.9 0.75 12.9Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_next,
.visual .ctrl_btn .btn_prev {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1732' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1732)'%3E%3Cpath d='M7.85002 13L10.7 15.85C10.9 16.05 10.9959 16.2833 10.9875 16.55C10.9792 16.8167 10.8834 17.05 10.7 17.25C10.5 17.45 10.2625 17.5542 9.98752 17.5625C9.71252 17.5708 9.47502 17.475 9.27502 17.275L4.70002 12.7C4.50002 12.5 4.40002 12.2667 4.40002 12C4.40002 11.7333 4.50002 11.5 4.70002 11.3L9.27502 6.72501C9.47502 6.52501 9.71252 6.42918 9.98752 6.43751C10.2625 6.44585 10.5 6.55001 10.7 6.75001C10.8834 6.95001 10.9792 7.18335 10.9875 7.45001C10.9959 7.71668 10.9 7.95001 10.7 8.15001L7.85002 11H19C19.2834 11 19.5209 11.0958 19.7125 11.2875C19.9042 11.4792 20 11.7167 20 12C20 12.2833 19.9042 12.5208 19.7125 12.7125C19.5209 12.9042 19.2834 13 19 13H7.85002Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_next {
    transform: rotate(180deg);
}

@media screen and (max-width:768px){

                        .visual .swiper-slide {
                            height: 681px;
                        }
                        .visual .swiper-slide h3 {
                            font-size: 38px;
                            margin: 0 0 105px 0; /*버튼과 반응 방향이 달라서 마진으로 높이 줄수 없음*/
                            transform: translateY(20px); /*세로(Y축)로 50px 위로 옮겨라! 엑티브 살짝으로 줄이기*/
                            /* transition: 0.3s; /*애니메이션 효과주기전에 속도명렬*/
                            /*transition-delay: 0.8s; /*기다렸다가 나타나*/
                            /*transform: translateY(30px); /*세로(Y축)로 50px 위로 옮겨라!*/
                            /*opacity: 0; 안보였다가 ->엑티브에서 1로 보이게효과 */
                        
                        }
                        .visual .swiper-slide p {
                            display: none;
                        }
                        .visual .ctrl_btn .btn_right {
                            display: none; 
                        }
}/*@media*/

.book {
    margin: 156px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    /*book넓이의 절반 50% + 1200의 절반*/
    margin: 0 0 0 calc((100% - 1260px) / 2);
    display: flex; /*tit 와 list 좌우배치*/
    justify-content: space-between;
    position: relative; /*ctrl_btn과more의 정렬기준 */
}

.book .book_wrap .list {
    height: 467px;
    width: calc(100% - 310px); /*왼쪽 타이틀은 고정넓이니까 빼주기, 패딩준거10px도 빼주기*/
}
.book .book_wrap .list .swiper {
    padding: 0 30px 0 10px;
}
.book .book_wrap .list .swiper-slide {
    width: 200px;
}
.book .book_wrap .list .swiper-slide a {
    display: block;
}
.book .book_wrap .list .swiper-slide a .photo {
    overflow: hidden;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    /* font-size: 0;
    line-height: 0; =>쓰지말래*/
    /* display: inline-block; /* 남에거 가저온거 */
    /* zoom: 1;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
    border: 1px solid #f4f4f4; */ 
}
.book .book_wrap .list .swiper-slide a .photo img {
    width: 100%; /*이미지 자르면 안되니까*//* 포토가 길이 제안 안하니까 높이 제한 안넣음*/
    height: 100%;
    object-fit: cover;
    vertical-align: top;/*이것만 걸어주면 이미지를 잘 감싸줌*/
}
.book .book_wrap .list .swiper-slide a .txt {
        height: 100px;
    }
.book .book_wrap .list .swiper-slide a .txt h3 {
    margin: 12px 0 4px 0;
    font-size: 20px;
    color: #1d1d1d;
}

.book .book_wrap .ctrl_btn {
    position: absolute;
    left: 1352px;
    bottom: 0px;
    display: flex;
    gap: 0 8px;
}

.book .book_wrap .ctrl_btn button {
    width: 30px;
    height: 30px;
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1783' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect x='0.930176' y='0.894531' width='27.0613' height='27.0613' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1783)'%3E%3Cpath d='M8.28524 14.9886L12.4964 19.1994C12.6061 19.3094 12.6635 19.4388 12.6686 19.5876C12.6737 19.7366 12.6163 19.8732 12.4964 19.9975C12.372 20.1219 12.2379 20.1851 12.0941 20.1872C11.9502 20.1894 11.8161 20.1284 11.6919 20.0039L6.75008 15.0624C6.56798 14.8801 6.47693 14.6676 6.47693 14.4248C6.47693 14.182 6.56798 13.9695 6.75008 13.7872L11.6919 8.84567C11.8018 8.73573 11.9322 8.67822 12.0831 8.67315C12.2342 8.66808 12.372 8.72774 12.4964 8.85215C12.6163 8.97637 12.6774 9.10933 12.6796 9.25102C12.6817 9.39272 12.6206 9.52577 12.4964 9.65018L8.28524 13.861H22.2452C22.4057 13.861 22.5398 13.9149 22.6475 14.0225C22.7552 14.1302 22.809 14.2643 22.809 14.4248C22.809 14.5853 22.7552 14.7194 22.6475 14.8271C22.5398 14.9347 22.4057 14.9886 22.2452 14.9886H8.28524Z' fill='%23444444'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.book .book_wrap .ctrl_btn button.btn_next {
    transform: rotate(180deg);
}

.book .book_wrap .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
    cursor: default; /*손모양-> 마으스포인트(안눌리는 영역이니까)*/
}

.book .book_wrap .more {
    position: absolute;
    left: 0;
    top: 150px;

}
.book .book_wrap .more a {
    display: block;
    padding: 0 39px 0 0;
    position: relative; /*afrer정렬기준*/
}
.book .book_wrap .more a::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1795' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1795)'%3E%3Cpath d='M16.8136 11.2498L13.5213 7.95751C13.3725 7.80868 13.2991 7.63459 13.3011 7.43526C13.3029 7.23593 13.3763 7.05867 13.5213 6.90351C13.6763 6.74851 13.8545 6.66843 14.0558 6.66326C14.2572 6.65809 14.4353 6.73309 14.5903 6.88826L19.0693 11.367C19.25 11.5478 19.3403 11.7588 19.3403 11.9998C19.3403 12.2408 19.25 12.4517 19.0693 12.6325L14.5903 17.1113C14.4417 17.2599 14.2651 17.3333 14.0606 17.3315C13.8561 17.3295 13.6763 17.251 13.5213 17.096C13.3763 16.9408 13.3013 16.7652 13.2963 16.569C13.2912 16.3728 13.3662 16.1972 13.5213 16.042L16.8136 12.7498L5.04808 12.7498C4.83525 12.7498 4.65708 12.6779 4.51358 12.5343C4.36992 12.3908 4.29808 12.2126 4.29808 11.9998C4.29808 11.7869 4.36992 11.6088 4.51358 11.4653C4.65708 11.3216 4.83525 11.2498 5.04808 11.2498L16.8136 11.2498Z' fill='%23444444'/%3E%3C/g%3E%3C/svg%3E%0A");
} 

@media screen and (max-width:768px){
        .book {
            margin: 96px 0 0 0;
        }
        .book .book_wrap {
            width: auto; /* 모바일 일때는 책 왼쪽여백 없어도 되니까*/
            margin: auto;
            display: block; /*tit 와 list 좌우배치*/
        }
        .book .book_wrap .tit {
            margin: 0 0 0 16px;
        }
        .book .book_wrap .tit h2 {
            font-size: 24px;
        }
        .book .book_wrap .tit p {
            display: none;
        }
        .book .book_wrap .list {
            width: auto;
            margin: 23px 0 0 0;
        }
        .book .book_wrap .list .swiper {
            padding: 10px 16px 0 16px; /*스위퍼 끝에 여백 16px주기 */
        }
        .book .book_wrap .list .swiper-wrapper {
            align-items: flex-start; /*윗정렬*/
        }
        .book .book_wrap .list .swiper-slide {
            width:132px;
        }
        .book .book_wrap .list .swiper-slide a .txt {
            height: 100px;
        }
        .book .book_wrap .list .swiper-slide a .txt h3 {
            margin: 12px 0 4px 0;
            font-size: 20px;
            color: #1d1d1d;
        }
        
        .book .book_wrap .ctrl_btn {
            display: none;
        }
        
        .book .book_wrap .more {
            left: auto;
            right: 16px;
            top: 0px;
        
        }
        .book .book_wrap .more a {
            padding: 0 ;
        }
        .book .book_wrap .more a::after {
            display: none;
        }
}

.interview {
    background-color: #F5F0EC;
    padding: 154px 0 153px 0;
}

.interview .tit {
    text-align: center;
}
.interview .list {
    margin: 46px  0 0 0;
}

.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px); /*100% /한줄에 나오는 li갯수    =  100/3  =33.3 = li하나당 차지하는 비율
            여백의 합 (24+24) / 한줄에 나오는 li 갯수 = 48/3=16 = 공평하게 나눈li 여백*/
}
.interview .list ul li:nth-child(2) {
    margin: 41px 0 0 0;
}

.interview .list ul li a {
    display: block;
    position: relative;
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 404px;
    border-radius: 50px 0 50px 0;
    position: relative;/*before정렬의 기준*/
}
.interview .list ul li a .photo::before { /*img에는 비포 에프터가 없음 , 그래서 포토에 효과를 주는것*/
    content: "";
    position: absolute;/*photo를 정렬으로 */
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 50%;/*반만 그라데이션 즐거니까*/
    background: linear-gradient(0deg, #000, rgba(0,0,0,0));
    /*쉼표 잘찍기*/
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    filter: grayscale(1);

}
.interview .list ul li a .txt {
    position: absolute;/*after정렬의 기준*/
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 11;
    padding: 0 0 33px 30px;
    width: calc(100% - 20px); /*after로 아이콘을 주기위해서*//*근데 오른쪽 여백 빼야함*/
}
.interview .list ul li a .txt ::after {
    content: "";
    position: absolute; /*txt를 기준으로 정렬*/
    right: 7px;
    bottom: 77px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1615' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1615)'%3E%3Cpath d='M14.9997 25.625C14.7339 25.625 14.5112 25.5351 14.3319 25.3553C14.1523 25.1757 14.0625 24.9531 14.0625 24.6875V15.9375H5.3125C5.04688 15.9375 4.82427 15.8476 4.64469 15.6678C4.4649 15.488 4.375 15.2653 4.375 14.9997C4.375 14.7339 4.4649 14.5112 4.64469 14.3319C4.82427 14.1523 5.04688 14.0625 5.3125 14.0625H14.0625V5.3125C14.0625 5.04688 14.1524 4.82427 14.3322 4.64469C14.512 4.4649 14.7347 4.375 15.0003 4.375C15.2661 4.375 15.4888 4.4649 15.6681 4.64469C15.8477 4.82427 15.9375 5.04688 15.9375 5.3125V14.0625H24.6875C24.9531 14.0625 25.1757 14.1524 25.3553 14.3322C25.5351 14.512 25.625 14.7347 25.625 15.0003C25.625 15.2661 25.5351 15.4888 25.3553 15.6681C25.1757 15.8477 24.9531 15.9375 24.6875 15.9375H15.9375V24.6875C15.9375 24.9531 15.8476 25.1757 15.6678 25.3553C15.488 25.5351 15.2653 25.625 14.9997 25.625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.interview .list ul li a .txt h3 {
    font-size: 30px;
}

.interview .list ul li a .txt p,
.interview .list ul li a .txt span {
    display: none;
}

/*a에 오버했을때*/
.interview .list ul li a:hover .photo::before { /*img에는 비포 에프터가 없음 , 그래서 포토에 효과를 주는것*/
    display: none;
}

.interview .list ul li a:hover .photo img {
    filter: grayscale(0);
}
.interview .list ul li a:hover  .txt {
    bottom: -80px;
    padding: 21px 40px 40px 40px;
    background-color: #694E47;
    border-radius: 50px 0 50px 0;
}
.interview .list ul li a:hover .txt p,
.interview .list ul li a:hover .txt span {
    display: block;
    margin: 10px 0 0 0;
}

.interview .list ul li a:hover .txt ::after {
    right: 40px;
    bottom: 150px;
    width: 20px;
    height: 20px;
    background-size: 20px;  /*아이콘 크기가 줄어들 경우 백그라우드 사이즈로 주면됨*/
}



.interview .more {
    position: absolute;
    right: 0;
    top: 0;
}
.interview .more a {
    display: block;
    padding: 0 39px 0 0;
    position: relative; /*afrer정렬기준*/
}
.interview .more a::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1795' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1795)'%3E%3Cpath d='M16.8136 11.2498L13.5213 7.95751C13.3725 7.80868 13.2991 7.63459 13.3011 7.43526C13.3029 7.23593 13.3763 7.05867 13.5213 6.90351C13.6763 6.74851 13.8545 6.66843 14.0558 6.66326C14.2572 6.65809 14.4353 6.73309 14.5903 6.88826L19.0693 11.367C19.25 11.5478 19.3403 11.7588 19.3403 11.9998C19.3403 12.2408 19.25 12.4517 19.0693 12.6325L14.5903 17.1113C14.4417 17.2599 14.2651 17.3333 14.0606 17.3315C13.8561 17.3295 13.6763 17.251 13.5213 17.096C13.3763 16.9408 13.3013 16.7652 13.2963 16.569C13.2912 16.3728 13.3662 16.1972 13.5213 16.042L16.8136 12.7498L5.04808 12.7498C4.83525 12.7498 4.65708 12.6779 4.51358 12.5343C4.36992 12.3908 4.29808 12.2126 4.29808 11.9998C4.29808 11.7869 4.36992 11.6088 4.51358 11.4653C4.65708 11.3216 4.83525 11.2498 5.04808 11.2498L16.8136 11.2498Z' fill='%23444444'/%3E%3C/g%3E%3C/svg%3E%0A");
} 

footer {
    margin: 1000px 0 0 0;
}