@import url(common.css);
@import url(default.css);
@import url(fonts.css);
/******************** header (시작) ***********************/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;/*logo gnb util 좌우배치*/
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 6.7059rem;
    height: 26px;
    margin-right: 6.4706rem;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;/*lang-  RESERVATION ->좌우배치*/
    align-items: center;
    gap: 12px;
}
header .util .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 65px;
    position: relative;
}
header .util .lang::after {
    content: "";
    position: absolute;
    right: 12px;
    top: 28px;
    width: 10px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0672 0.886327L6.03359 6.91992L-2.63737e-07 0.886328L0.887031 -0.000703135L6.03359 5.14602L11.1802 -0.000703585L12.0672 0.886327Z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
header .util a {
    display: block;
    text-align: center;
    width: 148px;       /* 길이 강제 */
    height: 37px;       /* 높이 */
    padding: 5px 0 5px 8px;
    color: #fff;
}
/*header 스크롤 올리면fixed 고정*/
header.fixed {
    color: var(--color-basic);
    background-color: var(--color-white);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
} 
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}
header.fixed .util .lang::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='%23222222' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0672 0.886327L6.03359 6.91992L-2.63737e-07 0.886328L0.887031 -0.000703135L6.03359 5.14602L11.1802 -0.000703585L12.0672 0.886327Z' /%3E%3C/svg%3E%0A");
}
header.fixed .util a {
    color: #222;
}

            /*스크롤을 아래로 내릴때 header 올림 : menu_pc
            header에 menu_pc, menu_mo 있을때는 작동하면 앙대*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}

/* -----------------------------1025보다 클때 (pc버전) : 시작 -----------------------------*/
    @media screen and (min-width:1025px){ 
        header .gnb .gnb_open,
        header .gnb .gnb_wrap .gnb_logo,
        header .gnb .gnb_wrap .gnb_close {
            display: none; /*모바일 일때만 보임*/
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex; /*li좌우배치*/
            justify-content: space-between;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /*ul.depth2 정렬의 기준*/
            z-index: 10;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            font-size: 20px;
            line-height: var(--header-h);
            padding: 0 35px; /*반반씩  좌우여백 주기*/
            white-space: nowrap;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
             /*2차 메뉴는 absolute처리*/
             position: absolute; /*ul.depth1을 기준으로 정렬*/
             left: 0;
             top: var(--header-h);/*header높이 만큼 내려오기*/
             width: 100%;
             min-height: 160px; 
             /* ㄴ 모든 2차메뉴의 길이를 동일하게 주려고 최소높이주기(최소준건 더긴걸 나중에 추가될수있으니)*/
             padding: 13px 0 0 0;
             display: none; /* 메뉴가 열렸을때만 나타남*/

        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
            display: block;
            text-align: center;
            line-height: 2.0;
        }


            /*메뉴에 마우스를 오버했을때 menu_pc가 추가되었을때*/
        header.menu_pc {
            color: var(--color-basic);
            box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
        }
        header.menu_pc::before {
            content: "";
            position: absolute; /*헤더정렬기준*/
            left: 0;
            top: 0;
            z-index: -1; /* header요소중 가장 아래로 보내는것 position주면 올라감*/
            width: 100%;
            height: 294px;
            background-color: var(--color-white);
        } 
        header.menu_pc .logo a {
            background-image: url(../images/logo.svg);
        }
        header.menu_pc .util .lang::after {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='%23222222' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0672 0.886327L6.03359 6.91992L-2.63737e-07 0.886328L0.887031 -0.000703135L6.03359 5.14602L11.1802 -0.000703585L12.0672 0.886327Z' /%3E%3C/svg%3E%0A");
        }
        header.menu_pc .util a {
            color: #222;
        }
        /***********/
        header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {  
            display: block 
        }
        

        /* 메뉴에 마우스를 오버했을때 menu_pc가 추가되었을때 : 끝 */


        /* 1차메뉴 li에 => over가 들어갔을때 (시작)*/
        header .gnb .gnb_wrap ul.depth1 > li.over > a span {
            color: #A9002B;
            font-weight: var(--font-weight-blod );
        } 

        /* 2차메뉴에 들어갔을때 => depth1의 오버가 여부에따라 depth2가 결정되니까.over 안붙여도됨*/
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
            position: relative;
        }
        /*span 태그에 선긋기 애니메이션*/
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0; /*transition주기 : 너비 0->100%*/
        height: 1px;
        background-color: #A9002B;
        transition: 0.4s
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span {
        color: #A9002B;
        font-weight: var(--font-weight-blod );
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::after {
        width: 100%;/*transition주기 : 너비 0->100%*/
        }
    }/*@media 1025이상*/
    /* --------------------- 1025보다 클때 (pc버전) : 끝 ---------------------*/

    @media screen and (max-width:1280px) and (min-width:1025px){   
        /* 1280~1024사이*/
        header .gnb .gnb_wrap ul.depth1 > li > a {
            padding: 0 1.2em;
        }
    }

    /* --------------------- 1024이하일때 : 시작 ---------------------*/
    @media screen and (max-width:1024px){ 
        header {
            padding-right: 0;
        }
        header .logo a {
            width: 106px;
            height: 24px;
        }
        header .util {
            display: none;
        }
        header .gnb .gnb_open {
            display: block;
            width: var(--header-h);
            height: var(--header-h);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1V0H16V1H0ZM0 12V11H16V12H0ZM3 6.5V5.5H16V6.5H3Z'/%3E%3C/svg%3E%0A");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 16px;
        }

        /* right: -110%; 으로 안보이게하고 -> menu_mo 클래스 추가되면 보임*//*(gnb_wrap 이보이면-> 후손도 보임)*/
        header .gnb .gnb_wrap {
            position: absolute;/*header기준으로정렬*/
            right: -110%; /*gnb_wrap 안보이다가 -> 보이게 하기 위해  -100%주기*/
            top: 0;
            z-index: 10;
            width: 100%;
            height: 100dvh;
            background-color: #fff;
            color: var(--color-title);
            transition: right 0.5s;
        }
        header .gnb .gnb_wrap .gnb_logo {
            position: absolute;
            left: var(--wrapper-margin);
            top: 0;
            width: 106px;
            height: calc(var(--header-h) + 10px);
            background: url(../images/logo.svg) no-repeat center center / contain;
        }
        header .gnb .gnb_wrap ul.depth1 {
            margin-top: var(--header-h);
            height: calc(100dvh - var(--header-h));
            overflow-y: auto;
            padding-top: 10px;
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            display: block;
            padding: 20px 35px 20px 37px; /*글짜가 침범하지 않게 여백까지 포함시키기*/
            font-size: 1.1765rem;
            position: relative; /*after 정렬기준*/
            color: var(--color-basic);
        }
        header .gnb .gnb_wrap ul.depth1 > li > a::before,
        header .gnb .gnb_wrap ul.depth1 > li > a::after {
            content: "";
            position: absolute;
            right: 37px;
            top: 50%;
            width: 13px;
            height: 1px;
            background-color: var(--color-basic);
        } 
        header .gnb .gnb_wrap ul.depth1 > li > a::after {
            transform: rotate(90deg);
            transition:  0.5s;
        }
        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
            margin: 0 0 0 10px;
            display: none; /*메뉴를 클릭할때만 나옴*/
            transition: 5s;
        }
        header .gnb .gnb_wrap .gnb_close {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            width: var(--header-h);
            height: var(--header-h);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 13px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%231C1B1F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.05375 13.3075L0 12.2538L5.6 6.65375L0 1.05375L1.05375 0L6.65375 5.6L12.2537 0L13.3075 1.05375L7.7075 6.65375L13.3075 12.2538L12.2537 13.3075L6.65375 7.7075L1.05375 13.3075Z' /%3E%3C/svg%3E%0A");
        }
        /* right: -110%; 으로 안보이게하고 -> menu_mo 클래스 추가되면 보임 : 끝*/


        /* 시작 :  depth1 li에 -> open 클래스가 들어갔을때*/
        header .gnb .gnb_wrap ul.depth1 > li.open > a {
            color: #A9002B;
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
            transform: rotate(0);
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block;
        }
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 > li > a {
            display: block;
            color: var(--color-basic);
            padding: 3px 0 3px 48px ;
            line-height: 2.0;
        }

        /* 끝 :  depth1 li에 -> over 클래스가 들어갔을때*/


        /*header에 -> menu_mo 클래스가 추가될때 : 시작*/
        header.menu_mo .gnb .gnb_wrap {
            display: block; /*메뉴가 열려야 보임*/
            right: 0;
        }
        header.menu_mo .gnb .gnb_close {
            display:  block; /*메뉴가 열려야 보임*/
        }
        /* open클래스 주기(2차 메뉴 열기)  */
        header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
            display: block;
        }
          
            
} /*@media 1024이하*/






/********************* header (끝) *************************/




/********************* visual (시작) ***********************/
.visual {
    position: relative;
}
.visual .swiper-slide {
    height: 100dvh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: space-around;   
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual01.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual03.jpg);
}

.visual .swiper-slide strong {
    display: block; /* strong은 글자처럼 행동하는 요소”라서 박스형태(block처리)로 만들어주고 움직여야함*/
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-re);
    transition: 0.6s;/*애니메이션 효과주기전에 속도명렬*/
    transition-delay: 0.6s; /*기다렸다가 나타나*/
    transform: translateY(100px); /*세로(Y축)로 50px 위로 옮겨라!*/
    opacity: 0; /*안보였다가 ->엑티브에서 1로 보이게효과*/  
}
.visual .swiper-slide h3 {
    font-size: 3.5294rem;
    font-weight: var(--font-weight-re);
    margin: 0 0 60px 0;

    transition: 0.6s;/*애니메이션 효과주기전에 속도명렬*/
    transition-delay: 0.6s; /*기다렸다가 나타나*/
    transform: translateY(100px); /*세로(Y축)로 50px 위로 옮겨라!*/
    opacity: 0; /*안보였다가 ->엑티브에서 1로 보이게효과*/
}


.visual .swiper-slide.swiper-slide-active strong {
    transform: translateY(0);
    opacity: 1;/*엑티브에서만 보이게*/
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;/*엑티브에서만 보이게*/
}


.visual .paging {
    position: absolute;
    bottom: 5dvh;
    left: 50%; /*중간에 오게하기위해*/
    width: auto;
    transform: translate(-50%);
    /*자기 자신 크기의 50%만큼 왼쪽으로 이동.*/
    /*transform: translate(x, y)에서 퍼센트(%)는 부모가 아니라 자기 자신 크기 기준으로 계산됨*/
    z-index: 10;
}
.visual .paging .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border-radius: 3px; /* 너무작아서 깨질 수있으니 너비의 반을줌*/
    background: rgba(225, 225, 225, 0.8); 
    margin: 0 15px;
}

.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
    border-radius: 4px; 
    background: var(--color-white);
}

.visual .swiper-button-next {
    width: 34px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 13' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.1665 12.0995L31.2007 12.0995L33.6665 12.0995L22.2754 9.95838e-07L20.801 1.47448L29.3426 10.0161L-7.9233e-05 10.0161L-7.90509e-05 12.0995L29.3426 12.0995L29.1665 12.0995Z' /%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.visual .swiper-button-next:after {
    display: none;
}
.visual .swiper-button-prev {
    width: 34px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 13' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 12.0995L2.46582 12.0995L0 12.0995L11.3911 9.95838e-07L12.8655 1.47448L4.32387 10.0161L33.6666 10.0161L33.6666 12.0995L4.32387 12.0995L4.5 12.0995Z' /%3E%3C/svg%3E ");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.visual .swiper-button-prev:after {
    display: none;
}

/***************************** 예약상자**************************************/
.visual .bookingbox {
    position: absolute;      /* 겹쳐 올릴게! */
    left: 50%;
    transform: translateX(-50%); /* 나의 절반만큼이동*/
    top: calc( 50% + 8% );
    z-index: 20;             /* 슬라이드보다 위로 올라오게 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: #fff;
}

.visual .bookingbox .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0 ;
}
.visual .item.reservation span,
.visual .item.check_in span,
.visual .item.check_out span,
.visual .item.adult span
 {
    position: relative;
}
.visual .item.reservation .label::after {
    content: "";
    position: absolute; /**/
    right: -32px;
    top: 6px;
    width: 10px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 7' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0672 0.886327L6.03359 6.91992L-2.63737e-07 0.886328L0.887031 -0.000702897L6.03359 5.14602L11.1802 -0.000703347L12.0672 0.886327Z' /%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .item.check_in .label::before {
    content: "";
    position: absolute; /**/
    left: -40px;
    top: 0;
    width: 2px;
    height: 57px;
    background-color: rgba(225, 225, 225, 0.4);
} 
.visual .item.check_out .label::before {
    content: "";
    position: absolute; /**/
    left: -40px;
    top: 0;
    width: 2px;
    height: 57px;
    background-color: rgba(225, 225, 225, 0.4);
} 
.visual .item.adult .label::before {
    content: "";
    position: absolute; /**/
    left: -40px;
    top: 0;
    width: 2px;
    height: 57px;
    background-color: rgba(225, 225, 225, 0.4);
} 


.visual .bookingbox .search {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 19px 40px 19px 40px;
}
.visual .bookingbox .search:hover {
    background-color: var(--color-white);
    color: var(--color-title);
}



/***************************** visual :끝**************************************/

/***************************** room : 시작 **************************************/
.room .swiper-slide { 
    width:528px; 
    height: 396px;
}
.room .swiper-slide.swiper-slide-active {
     width:400px; 
    
}  /* active된 팝업의 사이즈 - 절대 transition 금지 */








/***************************** room : 끝 **************************************/









footer {
    margin: 1000px 0 0 0;
}
