/* 웹폰트를 선언! */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
/* body에 기본 글자 스타일(본문 스타일) 적용 */
html, body {
    font-family: 'Pretendard';
    font-size: var(--bas-font-size);
    font-weight: 400;
    color: #1d1d1d; /* 555555 => 6글자가 같으면 3개만 써도됨 */
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;/*단어가 너무 길었을 때 강제 줄바꿈*/
}
/* html태그의 기본스타일을 리셋 시킴
   body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* 브라우저가 주는 스타일 무시 */
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal; /* normal=기울어진 글자 바로 */
}
a {
    color: inherit;
    text-decoration: none; /*text-decoration: none= 밑줄삭제 */
}
ol, li, ul {
    list-style: none; /* 앞에 도형 숫자 삭제 */
}
button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;/*마우스 오버시 손바닥 모양으로 변경*/
}
* { /* (*:와일드카드) 모든 태그 - 여백삭제 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap {
    /*최소넓이 없음*/
    position: relative; /*header정렬의 기준*/
}
.wrapper{
    width:1260px;
    margin: 0 auto;
}
/* blind = html 문서 구조상 써야하지만
디자인에서는 구현이 안되는 글자를 숨김처리 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.photo {
    overflow: hidden;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*계속 (태블릿, 모바일사이즈) 좌우 여백 16px로 적용
1260 +16 +16 = 1292*/

/*좌우 여백을 가변%로 줄경우
 1260*0.1= 126 (=126) ->+1260 =1386 
 1260*0.05= 75.6 -> +1260=1336*/


 /*
    좌우여백5% => 1260 *0.1 (5% +5%=10%)  +1260 = 126+1260 =1386
    
    좌우여백3% => 1260*0.06 (3%+3% =6%) +1260 = 1335.6

    좌우벼백50px => 1260 + 100(50px+50px=100px) = 1300

    좌우여백30px => 1260+60(30px+30px=60) =1320
 */
@media screen and (max-width:1360px){
                .wrapper{
                    width: auto;
                    margin: var( --content-margin) ; 
                }
}/*@media*/

/* css 변수 -  값은 media 를 이용해서 수치는 변경가능
   선언한 변수를 css에서 사용하는 방법은 font-size:var (--bas-font-size: ;)
   앞에 -- 두개는 반드시 포함되야함
   피그마 dev모드를 사용하면 많이 나옴 그래서 많이 사용함 */
:root {
    --bas-font-size: 17px;
    --tit-color: #1d1d1d;
    --tit-font-size: 40px;
    --h3-font-size: 22px;
    --tit-line-height: 1.3;
    --bold-weight: 800;
    --content-margin: 0 50px;
}
@media screen and (max-width:1024px){
    :root {    
            --tit-font-size: 32px;
            --h3-font-size: 20px; 
            --content-margin: 0 30px;
        }
}
@media screen and (max-width:768px){
    :root {
        --bas-font-size: 16px;
        --tit-font-size: 19px;
        --content-margin: 0 16px;
    }
}
