@import url(common.css);
.btn {
    margin: 50px 0 50px 0;
}
.btn a {
    padding: 8px 30px 8px 30px;
    display: inline-block;
    border-radius: 50px;
}
.item1 a {
    background-color: #ededed;
}
.item1 a:hover {
    background-color: #3730FF;
    color: #fff;
}
.item2 a {
    border:1px solid #666;
}
.item2 a:hover{
    border-color: #3730FF;
    color: #3730FF;
}
/* border가 over할때마만 나욤
horver일때만 border를 추가하면 사이즈가 변동됨
오버전에도 동일한 두께의 보더를 주면
backfground 색이랑 동일한 border를 주면됨*/
.item3 a{
    background-color: #ededed;
    border: 5px solid #ededed;
}
.item3 a:hover{
    background-color: #fff;
    border-color: #3730FF ;
    color: #3730FF;
}
.item4 a{
    border: 5px solid #3730FF;
    color: #3730FF;
}
.item4 a:hover {
    background-color: #3730FF;
    color: #fff;
    /*크기를 동일하게 주기위해 border를 없애지 않음*/
}
.gallery {
    margin: 100px 0 0 0;
}
.gallery ul {
    display: flex; /*li를 좌우로*/
    justify-content: space-between;
}
.gallery ul li {
    width: 404px;
}
.gallery ul li a {
    display: block;
}
.gallery ul li a .photo {
    overflow: hidden;/*포토에 무조건 줘야함.  오버된거 자르기*/
    border-radius: 20px;
    font-size: 0;
    line-height: 0; 
    /* 이미지도 행간이 적용되어 하단에 여백이 발생
    글자크기의 행간을 0으로 주고 하단 여백 삭제*/
}
.gallery ul li a .photo img {
    transition: 0.5s; /* 변화를 0.5초동안 천천히 하라는 명령*/
}
.gallery ul li a:hover .photo img{
    transform: scale3d(1.2, 1.2, 1);
}

.bbs {
    margin: 100px 0 0 0;
}
.bbs ul {
    display: flex; /*li를 좌우로*/
    justify-content: space-between;
}
.bbs ul li {
    width: 404px;
}
.bbs ul li a {
    display: block;
}
.bbs ul li a .photo {
    overflow: hidden;/*포토에 무조건 줘야함.  오버된거 자르기*/
    border-radius: 20px;
    /* li에서 넓이를 제한해서 널비는 빼고 높이만줌*/
    height: 245px;
    transition: 0.5s;
}
.bbs ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bbs ul li a:hover .photo {
    box-shadow: 0 8px 28px -6px #1319271f, 0 18px 88px -4px #13192724;
    transform: translateY(-10px);
}