@import url(common.css);
.asia {
    margin: 164px 0 0 0;
}
.asia .wrapper {
    display: flex; /*tit -photo 좌우배치*/
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 0 24px ;
}
.asia .tit h2 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}

@media screen and (max-width:768px){
                    .asia {
                        margin: 128px 0 0 0;
                    }
                    .asia .wrapper {
                        display: block;
                        /**/
                    }
                    .asia .tit h2 {
                        font-size: 22px;
                        margin: 0 0 16px 0;
                    }
                    .asia .photo {
                        margin: 16px 0 0 0;
                    }
                    .asia .photo img {
                       width: 100%;
                    }

}/*@media*/

.photo_warp {
    margin: 50px 0 0 0;
}
.photo_warp .photo {
    overflow: hidden;
    width: 832px;
    height: 499px;
}
.photo_warp .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px){
                                        
                    .photo_warp {
                        margin: 50px 0 0 0;
                    }
                    .photo_warp .photo {
                        overflow: hidden;
                        width: auto;
                        height: 165px;
                    }
}/*@media*/
.mission {
    margin: 170px 0 100px 0;
    text-align: center;
}
.mission strong {
    font-weight: 800;
    color: #1d1d1d;
}
.mission h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 14px 0 27px 0;
}
.mission h2 br.mo_only {
    display: none; /*줄바꿈 안함*/
}

@media screen and (max-width:768px){
                    .mission {
                        margin: 78px 0 50px 0;
                    }
                    .mission h2 {
                        font-size: 28px;
                        margin: 10px 0 16px 0;
                    }
                    .mission h2 br.mo_only {
                        display: block; /*줄바꿈 함*/
                    }
                    .mission h2 br.pc_only {
                        display: none;
                    }
                    .mission p br {
                        display: none; /*p테그는 줄바꿈 삭제*/
                    }
}/*@media*/

.winner {
    margin: 190px 0 100px 0;
}
.winner .tit strong {
    font-size: 22px;
    font-weight: 800;
    color: #1d1d1d;
}
.winner .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 14px 0 27px 0;
}
.winner .list {
    margin: 33px 0 0 0;
}
.winner .list .swiper-slide {
    width: 200px;
}
.winner .list .swiper-slide a {
    display: block;
}
.winner .list .swiper-slide a .photo {
    overflow: hidden;
    height: 198px;
}
.winner .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.winner .list .swiper-slide a h3 {
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 13px 0 0 0;
    position: relative;
    padding: 4px 5px 4px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
.winner .list .swiper-slide a h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #E7336E;
    transition: 0.5s;
}
.winner .list .swiper-slide a:hover h3 {
    color: #fff;
}
.winner .list .swiper-slide a:hover h3::before {
    width: 100%;
}


@media screen and (max-width:768px){
                        .winner {
                            margin: 100px 0 50px 0;
                        }
                        .winner .tit h2 {
                            font-size: 28px;
                            margin: 14px 0 27px 0;
                        }
                        .winner .list {
                            margin: 33px 0 0 0;
                        }
                        .winner .list .swiper-slide a {
                            display: block;
                        }
                        .winner .list .swiper-slide a .photo {
                            height: 150px;
                        }
                        .winner .list .swiper-slide a h3 {
                            /*한줄제한 해제*/
                            white-space: wrap;
                            overflow: visible;
                        }
}/*@media*/