@import url(common.css);
.plus {
    margin: 200px 0 0 0;
}
.plus .wrapper {
    display: flex; /*tit -photo 좌우배치*/
    justify-content: space-between;
    align-items: flex-start;
}
.plus .tit {
    width: 40.55%;
     /* 1260에서 넓이 511
        511/1260 *100 =  40.55 */
        margin: 30px 0 0 0;
}
.plus .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 16px 0;
}    
.plus .photo {
    width: 49.04%;
    /*1260 에서 넓이 618
      618/1260*100 =49.04 */
      border-radius: 20px;

}
.plus .photo img {
    vertical-align: top; /* 이미지하단 여백 삭제*/
}
@media screen and (max-width:1024px){
            .plus .tit h2 {
                font-size: 32px;
            }
}/*media*/
@media screen and (max-width:768px){
            .plus {
                margin: 121px 0 0 0;
            }
            .plus .wrapper {
                display: block; /*플랙스 해지= 위아래 배치*/
            }
            .plus .tit {
                width: auto;
                /* 넓이 고정값을 삭제하고
                 원래 tit이 가져야하는 넓이 값을 줌 
                 block요소면 100%임 이건 오토니까 다르게 줌*/
                    margin: 22px 0 0 0;
            }
            .plus .tit h2 {
                font-size: 28px;
                margin: 0 0 10px 0;
            }    
            .plus .photo {
                width: auto;
                /*1260 에서 넓이 618
                618/1260*100 =49.04 */
                border-radius: 10px;
            
            }
            .plus .photo img {
                vertical-align: top; /* 이미지하단 여백 삭제*/
            }

}/*media*/
.support {
    margin: 108px 0 0 0; 
}
.support .wrapper {
    display: flex; /* tit-photo 좌우배치*/
    flex-direction: row-reverse;/*반대방향*/
    justify-content: space-between;
}
.support .tit { /*넓이고정*/
    width: 516px;
}

.support .photo {/*tit 넓이 빼고 나머지- 넓이가 변경됨  */
    width: calc(100% - 642px);
    height: 381px;
    border-radius: 20px;
}
.support .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 16px 0;
}   
@media screen and (max-width:1024px){
     
        .support .tit { /*넓이고정*/
            width: 400px;
        }
        .support .tit h2 {
            font-size: 32px;
        }
        .support .photo {
            width: calc(100% - 440px);
        }
        
} /*media*/
@media screen and (max-width:768px){
        .support {
            margin: 97px 0 0 0; 
        }
        .support .wrapper {
            display: block; /* tit-photo 좌우배치*/
        }
        .support .tit { /*넓이고정*/
            width: auto;
            margin: 0 0 29px 0;
        }
        
        .support .photo {/*tit 넓이 빼고 나머지- 넓이가 변경됨  */
            width: auto;
            height: 406px;
            border-radius: 10px;
        }
        .support .tit h2 {
            font-size: 28px;
            margin: 0 0 13px 0;
        }    
}
.minus {
    margin: 110px 0 0 0;
}

.minus .wrapper {
    display: flex;
    justify-content: space-between;
}
.minus .tit {
    width: 40%;
    margin: 30px 0 0 0;
}
.minus .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 16px 0;
}    
.minus .photo {
    width: 50%;
    height: 406px;
    border-radius: 20px;
}
@media screen and (max-width:1024px){
                .minus .tit h2 {
                    font-size: 32px;
                }    
}

@media screen and (max-width:768px){
                .minus {
                    margin: 80px 0 0 0;
                }
                
                .minus .wrapper {
                    display: block;
                }
                .minus .tit {
                    width: auto;
                    margin: 0 0 18px 0;
                }
                .minus .tit h2 {
                    font-size: 24px;
                    margin: 0 0 13px 0;
                }    
                .minus .photo {
                    width: auto;
                    height: 406px;
                    border-radius: 20px;
                }
}

.service {
    margin: 100px 0 0 0;
    background-color: #1549A4;
    color: #fff;
    padding: 74px 0 73px 0;
}

.service .list ul {
    display: flex; /*li좌우배치*/
}

.service .list ul li {
    width: 16.66%; 
    /*나를 감싸는 ul의 넓이의 16%*/
}

.service .list ul li a {
    display: flex   ;
    gap: 0 18px;
    align-items: center;
}

.service .list ul li a i {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    /* svg를 가운데로 배치*/
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1336px){  /*wrapper 넓이가 풀린시점*/
    .service .list ul li a {
        /*a안에서 좌우에 가운데를 flex로 배치*/
        flex-direction: column;
        gap: 10px 0;

    }
    .service .list ul li a span br {
        display: none;
    }
}/*media*/
@media screen and (max-width:1024px){ 
    .service .list ul li a span {
        font-size: 17px;
        text-align: center;
    }
    .service .list ul li a span br {
        display: block; /*줄바꿈 다시사용*/
    }
}
@media screen and (max-width:768px){ 
            .service .list ul {
                flex-wrap: wrap; /*여러줄허용*/
                gap: 54px 0; /*li와 li사이 여백*/
            }
            .service .list ul li {
                width: 33.33%; 
                /*나를 감싸는 ul의 넓이의 16%*/
            }
            .service .list ul li a {
                gap: 4px 0;
            }
            .service .list ul li a i {
                width: 35px;
                height: 35px;
                background-color: transparent;
            }
            .service .list ul li a i svg {
                width: 90%;
                height: 90%;
                /*감싸는 영역이 svg에 써있는 사이즈 보다 작으면
                자동으로 svg가 줄어듬*/
            }
            .service .list ul li a i svg path {
                fill: #fff;
                /*내가 복사한 svg html에 phath에 fill이 들어가 잇음
                그래서 path에 fill을 줘야함*/
            }
            .service .list ul li a span br {
                display: none; /*줄바꿈 없음*/
            }
}

@media screen and (max-width:450px){ 
    .service .list ul li {
        width: 50%; }
}


body {
    margin:  0 0 500px 0;
}