@import url(common.css);
.visual {
    position: relative;/*ctrl_btn 정렬기준*/
}
.visual .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/swiper01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/swiper02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/swiper03.jpg);
}

.visual .swiper-slide h2 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 230px 0 22px 0 ;
}
.visual .ctrl_btn {
    position: absolute;/*visual 기준으로 정렬*/
    left: 0;
    bottom: 40px;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;/*가운데정렬(페이징 너비 빼고)*/
    align-items: center;/*글짜 가운데정렬*/
    width: 100%; /*정렬의 기준의 100% 너비*/
}
.visual .ctrl_btn button {
    width: 30px;
    height: 30px;
}
.visual .ctrl_btn .btn_prev,
.visual .ctrl_btn .btn_next {
    background:  url(../images/swiper_arrow.svg) no-repeat center center;
}

.visual .ctrl_btn .btn_next {
    transform: rotate(180deg);  
}

.visual .ctrl_btn .paging {
    width: auto; /* paging엥만 넓이 100% 들어간값을 취소시키려고 */
    font-weight: 800;
}
.visual .ctrl_btn .btn_stop {
    background:  url(../images/swiper_stop.svg) no-repeat center center;
}
.visual .ctrl_btn .btn_next {
    background:  url(../images/swiper_play.svg) no-repeat center center;
}
.news {
    margin: 100px 0 100px 0;
}
.news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 10px 0;
}
.news .list {
    margin: 24px 0 0 0;
}

.news .list .swiper-slide a {
    display: block;

}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 227px;
}
.news .list .swiper-slide a .photo image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a .photo image a:hover .photo img {
    transform: scale3d (1.2, 1.2, 1);
}
.news .list .swiper-slide a h3 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 26px 0 13px 0;
}