/* 웹폰트를 선언! */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
    url(../fonts/Pretendard-Regular.woff2) format('woff2'), 
    url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), 
    url(../fonts/Pretendard-Bold.woff2) format('woff2'), 
    url(../fonts/Pretendard-Bold.woff) format('woff');
}
/* body에 기본 글자 스타일(본문 스타일) 적용 */
body {
    font-family: 'Pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #555; /* 555555 => 6글자가 같으면 3개만 써도됨 */
    line-height: 1.5;
}
/* html태그의 기본스타일을 리셋 시킴
   body에서 선언한 기본 스타일로 적용 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* 브라우저가 주는 스타일 무시 */
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal; /* normal=기울어진 글자 바로 */
}
a {
    color: inherit;
    text-decoration: none; /*text-decoration: none= 밑줄삭제 */
}
ol, li, ul {
    list-style: none; /* 앞에 도형 숫자 삭제 */
}
* { /* (*:와일드카드) 모든 태그 - 여백삭제 */
    margin: 0;
    padding: 0;
}
.wrapper{
    width:1260px;
    margin: 0 auto; 
}
.nature {
    margin: 158px 0 0 0;
}
.villa{
    margin: 158px 0 0 0;
    text-align: center;
}
.cycle{
    margin: 158px 0 0 30px;
    text-align: right;
}
.nature h1, 
.villa h1,
.cycle h1 {
    font-size: 40px;
    font-weight:700;
    color: #1d1d1d;
}
.nature h1{
    margin: 0 0 24px 0;
}
.nature strong{
     font-weight:700;
     color: #2b40ab;
}

.villa h1{
    margin: 0 0 24px 0;
}
.villa strong {
    font-weight:700;
     color: #5ed9d4;
}
.cycle h1{
    margin: 0 0 14px 0;
}
.cycle h2 {
    font-size: 40px;
    font-weight:700;
    color: #1d1d1d;
    margin: 58px 0 15px 0;
}
.cycle strong{
    color: #5ed9d4;
}/*cycle 이라는 클래스명을 갖은 요소안에 p태그 안에 있는 strong태그*/
.cycle p strong {
    font-weight: 700;
    text-decoration: underline;
}


