@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'GM';
    src: url('../fonts/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GM';
    src: url('../fonts/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
