@import url(common.css);
@import url(default.css);
@import url(fonts.css);
header {
    height:85px ;
    position: absolute; /*warp을 기준으로 정렬 이미 되있음*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    display: flex; /*logo-gnb-util 좌우배치*/
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    transition: 0.3s;
}
header .logo a {
    display: block;
    width: 141px;
    height: 54px;
    background: url(../images/logo.svg) no-repeat center center / contain ; 
    /*contain =아이콘 이미지를 안자르고 다 나오게 하겠다(로고나 아이콘 쓸때 사용)*/
    transition: 0.3s;
}

header .gnb .gnb_open,
header .logo .gnb_close {
    display: none; /*모바일에서만 나옴*/
}
header .gnb .gnb_wrap ul {
    display: flex; /*li좌우배치*/
    padding: 60px 0 0 0;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    line-height: 90px; /*행간 header높이만큼 주기*/
    font-size: 20px;
    padding: 0 28px 0 28px;/*메뉴사이 여백 반때씩*/
}
header .util {
    display: flex;/*mypage-lang 좌우배치*/
}
header .util .mypage,
header .util .lang .lang_open {
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url(../images/util_mypage.svg);
    transition: 0.3s;
}
header .util .lang .lang_open {
    background-image: url(../images/util_lang.svg);
    transition: 0.3s;
}
/*header에 fixed class가 추가되었을때 */
header.fixed {
    position: fixed;  /* 무조건 body랑만 정렬함*/
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #1d1d1d;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.05);
}

header.fixed .logo a {
    background-image: url(../images/logo_b.svg);
}

header.fixed .util .mypage {
    background-image: url(../images/util_mypage_b.svg);
}
header.fixed .util .lang .lang_open {
    background-image: url(../images/util_lang_b.svg);
}

@media screen and (max-width:768px){
                /*header .logo a {
                    width: 78px;
                    height: 29px;
                }*/
                header {
                    height:56px;
                    padding: 0 0 0 16px;/*햄버거 아이콘(≡)은 끝까지 붙여야 하니까 오른쪽엔 여백 안 줌*/
                }
                
                header .gnb .gnb_open {
                    display: block;/*모바일에서만 나옴*/
                    width: 56px;
                    height: 56px;
                    background: url(../images/gnb_open.svg) no-repeat center center;
                }
                header .gnb .gnb_wrap {
                    display: none;/*모바일에서 숨김, 껍데기를 지워야하는거 li를 지우면 wrap이 남으니까*/
                }
                header .util {
                    display: none;/*모바일에서 숨김*/
                }
                header.fixed .gnb .gnb_open {
                    background-image: url(../images/gnb_open_b.svg);
                }

}/*@media*/



.visual {
    position: relative; /*btn-wrap의 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 높이와 동일하게 상대높이*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}


.visual .swiper-slide h3 {
    font-size: 60px;
}

.visual .swiper-slide h3 br.mo_olny {
    display: none;
}

.visual .btn_wrap {
    position: absolute;
    left: 50%; /* 630= 1260의 절반 = 50 ( => 왼쪽하단에 넣고싶은경우)=calc(50% - 630px)*/
    bottom: 50px;
    z-index: 1;
    display: flex;
    gap: 0 5px;
}

.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow2.svg);
}

@media screen and (max-width:768px){
    
                        .visual .swiper-slide {
                            align-items: center;
                        }
                        .visual .swiper-slide h3 {
                            font-size: 40px;
                        }
                        .visual .swiper-slide h3 br.mo_olny {
                            display: block;
                        }
                        .visual .swiper-slide p {
                            margin: 0;
                        }
                        
                        .visual .btn_wrap {
                            left: 50%;/* 50% 이동 이동 */
                                        /*pc버전에서 buttom를 줬다가 모바일에서 top로 바꾸는 경우 auto로*/
                            transform: translateX(-50%);
                            /*나자신 btn_wrap 넒이의 절반을 왼쪽으로 이동*/
                            z-index: 1;
                            display: flex;
                            gap: 0 5px;
                        }
                        
                        .visual .btn_wrap button {
                            border: 1px solid #fff;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        .visual .btn_wrap button.btn_prev {
                            background-image: url(../images/visual_arrow.svg);
                        }
                        .visual .btn_wrap button.btn_play {
                            background-image: url(../images/visual_play.svg);
                            display: none; /*stop버튼이 눌려야함 보임*/
                        }
                        .visual .btn_wrap button.btn_stop {
                            background-image: url(../images/visual_stop.svg);
                        }
                        .visual .btn_wrap button.btn_next {
                            background-image: url(../images/visual_arrow2.svg);
                        }
}/*@media*/
.biz {
    margin: 150px 0 0 0;
}
.biz .wrapper {
    display: flex; /*tit-list 좌우배치*/
    justify-content: space-between;
    align-items: flex-start; /*위로 딱붙어!*/
}

.biz .tit {
    position: sticky;
    /* 감싸는 요소중에서 단 1개라도 overflow:hidden; 속성을 주면 작동이 안됨*/
    top: 80px;
}
.biz .list {
    width: 706px;
    padding: 0 0 127px 0;

} 
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 20px 20px; /*위아래, 좌우*/
}
.biz .list ul li {
    width: calc(50% - 12px);
    /*100/ 한줄에 나오는 li 개수 =100/2=50%
    한줄 여백의 합/ 한줄에 나오는 li개수 = 24/2=12ㅔㅌ*/
}

.biz .list ul li:nth-child(odd) {
    transform: translateY(127px);
}
.biz .list ul li a {
    display: block;
    position: relative; /*txt 정렬의 기준*/
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}

.biz .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2048BA;
    opacity: 0;
    transition: 0.5s;
}

.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 43px;
    width: calc(100% - 86px);
    bottom: -30px;
    color: #fff;
    transition: 0.5s;
} 

.biz .list ul li a .txt h3 {
    font-size: 30px;
}

.biz .list ul li a .txt p {
    opacity: 0;
    margin: 9px 0 0 0;
    color: #B4F7FF;
    transition: 0.5s;
}

@media screen and (min-width:769px){ /*769포함 이상에 적용*/
                .biz .list ul li a:hover .txt p {
                    opacity: 1;    
                }
                .biz .list ul li a:hover .txt {
                    bottom: 65px;
                }
                .biz .list ul li a:hover .photo::before {
                    opacity: 0.9;
                }
                .biz .list ul li a:hover .photo {
                    position: relative; /* before 정렬의 기준*/
                }
}/*@media*/
@media screen and (max-width:768px){ /*768포함 이하에 적용*/
                .biz {
                    margin: 79px 0 0 0;
                }
                .biz .wrapper {
                    display: block; /*flex-> block교체*/
                }
                
                .biz .tit {
                    position: relative; /*sticky-> reletive( 포지션은 이것만 멀쩡함)*/
                    top: auto; /*top을 선엉하지 않은 것처럼 해지 0이랑 다름*/
                }
                .biz .list {
                    width: auto; /* 넓이가 원래 들어가야할 값이 들어가게됨
                                    block요소 이기 때문에 100% 들어간다는 의미*/
                    padding: 0;/*글짜 밖으로 나가기땜에  패딩빼기*/
                    margin: 41px 0 0 0;
                } 
                .biz .list ul {
                    /*flex 유지(취향것)*/
                    display: block; /*flex->block으로 교체*/
                    flex-wrap: nowrap;/*한줄로 바꾸기*/
                    flex-direction: column;/*플랙스 세로 배치*/
                    gap: 16px 0px; /*위아래, 좌우*/
                }
                .biz .list ul li {
                    width: auto; /*??????*/
                }
                
                .biz .list ul li:nth-child(odd) { /*짝수에  위로올라오게*/
                    transform: translateY(0);/*위로올라오는 기능빼기*/
                }
                .biz .list ul li a .photo {
                    /*포토 숨길거면 =>  display:none*/
                    height: 160px;
                    border-radius: 10px;
                }
                .biz .list ul li a .txt {
                    /*글짜만 나오거나, 글자가 사진 밑으로가면 absolute 빼기
                    = postion:relative*/
                    position: relative; /*absolut-> relative*/
                    left: auto; /*안준것 처럼(너맘대로 해라)*/
                    width: auto;/*안준것 처럼(너맘대로 해라)*/
                    bottom: auto;/*안준것 처럼(너맘대로 해라)*/
                    color: #1d1d1d;
                } 
                
                .biz .list ul li a .txt h3 {
                    margin: 12px 0 29px 0;
                    font-size: 20px;
                }
                .biz .list ul li a .txt h3 br {
                    display: none; /*줄바꿈해지*/
                }
                .biz .list ul li a .txt p {
                    /*p태그 안 나오면->display:none*/
                    /*p태그 나오면   opacity: 1;*/
                    display:none
                }
} /*@media*/
.notice {
    margin: 113px 0 0 0;
    background-color: #15195C;
    color: #fff;
    padding: 154px 0 131px 0; /* 백색값 주기 */
}
.notice .wrapper {
    position: relative; /*more 정렬의 기준*/
}
.notice .tit strong {
    color: #CEDEFF;
}
.notice .list {
    margin: 33px 0 0 0;
}
.notice .list ul li {
    margin: 0 0 13px 0; /*하단여백주기*/
}
.notice .list ul li:last-child {
    margin-bottom: 0; /* 하단 여백만 0처리 다른곳에 여백을 줄수잇으니 빼는 것*/
}

.notice .list ul li a {
    display: flex; /*inner의 span을 좌우로 배치*/
    justify-content: space-between;
    align-items: center;/*가운데 배치*/
    background: #fff;
    color: #1d1d1d;
    padding: 29px 55px 29px 55px ;/*오른쪽 왼쪽 내부여백*/
}
.notice .list ul li a:hover {
    background: #2C55CC;
    color: #fff;
    padding: 29px 55px 29px 55px ;
}
.notice .list ul li a .inner {
    display: flex; /*strong- h3좌우배치*/
    font-size: 17px;/*inner에 tit_gm을 줘서 폰트스타일을 넣었기땜에 사이즈 재선언*/
    font-weight: 500;
    align-items: center;
    width: calc(100% - 131px) ;/*오른쪽에 날짜 들어갈 공간(131px 빼고 나머지 전부가 inner땅이야~
                                 여백주고 텍스트 자르기*/
                                 /*날짜를뺀 inner사이즈는 브라우저 크기에따라 사이즈가 달라질수있으니 날짜 공간만px로 뺀거임 */
}
.notice .list ul li a .inner h3 {
    white-space: nowrap; /*줄바꿈 안해*/
    overflow: hidden;/*넘친거숨기기*/
    text-overflow: ellipsis;/*...추가하기*/
}
.notice .list ul li a .inner strong {
    display: block;
    padding: 6px 17px 6px 17px;/*상자사이즈 주기*/
    background-color: #2B308B;
    color: #fff;
    margin: 0 33px 0 0;
}
.notice .list ul li a:hover .inner strong {
    display: block;
    background-color: #fff;
    color: #15195C;
}
.notice .list ul li a span {
    opacity: 0.9;
}

.notice .more {
    position: absolute; /*wrpper기준으로 정렬*/
    right: 0;
    top: 55px;
    opacity: 80%;
}
.notice .more a {
    display: block;
    padding: 0 28px 0 0; /*모어 옆에 패딩을 넣어서 옆에 아이콘이 눌릴 상자를 만듬*/
}
.notice .more a::after { /* more뒤 after에 엡솔루트로 스티커 붙이기*/
    content: "";
    position: absolute; /*more기준으로 정렬*/
    right: 0;
    top: 4px;
    width: 24px; /* 내가 넣은 아이콘만하게 높이 너비 주기*/
    height: 24px;
    background: url(../images/notice_more.svg) no-repeat center center;
    transition: 0.8s;
}
.notice .more a:hover::after {
    right: -10px;/*a에 오버할때 after의 변화-> 10px이동*/
} 

@media screen and (max-width:768px){
                .notice {
                    margin: 70px 0 0 0;
                    padding: 93px 0 87px 0;
                }
                .notice .tit {
                    width: calc(100% - 42px); /*브라우저 사이즈가 줄면 tit과 아이콘과겹치지 않기위해 42픽셀은 너 영역아니야 선언*/
                }
                .notice .list {
                    margin: 33px 0 0 0;
                }
                .notice .list ul li {
                    margin: 0 0 13px 0;
                }
                .notice .list ul li a {
                    display: block; /*flex해지*/
                    border-radius: 10px;
                    padding: 16px 16px 13px 16px ;
                }
                .notice .list ul li a .inner {
                    display: block;/*flex해지*/
                    font-size: 16 px;
                    font-weight: 500;
                    width: auto;/*오른쪽에 날짜 들어갈 공간(131px 빼고 나머지 전부가 inner땅이야~*/
                }
                .notice .list ul li a .inner h3 {
                    margin: 14px 0 11px 0;
                    white-space: wrap; /*줄바꿈 안해*/
                    overflow: visible;/*안숨기기*/
                }
                .notice .list ul li a .inner strong {
                    display: inline-block;
                    padding: 6px 17px 6px 17px;
                    background-color: #2B308B;
                    color: #fff;
                    margin: 0 33px 0 0;
                }

                .notice .list ul li a span {
                    opacity: 0.9;
                }
                
                .notice .more {
                    top: 55px;/*???*/
                }
                .notice .more a {
                    padding: 0; /*모어 옆에 패딩을 넣어서 옆에 아이콘이 눌릴 상자를 만듬*/
                    width: 26px;
                    height: 26px;
                    border: 1px solid #fff;
                    border-radius: 50%;

                }
                .notice .more a span {
                    display: none; /*more글씨 날리기*/
                }
                .notice .more a::after {
                  right: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  background-size: 20px;
                }
            
}
.webzine {
    background-color: #F2F4FF;
    padding: 150px 0 126px 0;
    position: relative; /*more정렬의 기준*/
    overflow: hidden; /*가로스크롤 없애기*/
    /*“페이지 안 어딘가의 요소가 뷰포트보다 더 넓을 때” 생기는데, 
     넘친 부분이 .webzine 안에서 일어나는 거라면 .webzine이 잘라버리니까 
     페이지 전체 가로스크롤이 사라져보임*/
}

.webzine .list {
    /* width: calc(50% + 630px);=>50%(브라우저절반+레퍼절반) => 영역주고 짤리는 방식
    position: relative;
    left: calc(50% - 630px); 
    margin: 47px 0 0 0;*/

    /**/
    width: 1260px;
    margin: 52px auto 0 auto; /*wrpper크기로 알아서 들어가*/
}
.webzine .list .swiper {
    overflow: visible;
    /* margin: 0 24px 0 0; => 영역주고 짤리는 방식*/ 
}
.webzine .list .swiper-slide {
    width: 401px;
}
.webzine .list .swiper-slide a {
    display: block;
    background-color: #fff;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 575px;
    transition: 0.5s;
}
.webzine .list .swiper-slide a .photo {
    overflow: hidden;
    height: 293px;
    border-radius: 20px 20px 0 0;
    position: relative; /*cate 정렬의 기준*/
}
.webzine .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: 0.5s; /*천천히 움직이자*/
}
.webzine .list .swiper-slide a .photo .cate {
    position: absolute;
    left: 30px;
    top: 16px;
    padding: 3px 10px 3px 10px;
    background-color: #2B308B;
    color: #fff;
    border-radius: 30px;
    z-index: 1 ;
    
    /*absolute를 주면 영역이 안잡히니까 넓이 줘야하는데
    반응형으로 만들어야하니까 왼쪽 33 +오른쪽33 뺴서 최대넓이 제한하기*/
    max-width: calc(100% - 66px); 

    /*1줄제한 -> 1줄요소이거나 넓이 필수*/
    white-space: nowrap; /*줄바꿈금지*/
    overflow: hidden;
    text-overflow: ellipsis;/*한줄제한*/
}
.webzine .list .swiper-slide a .txt {
    margin: 33px 33px 0 33px;
}
.webzine .list .swiper-slide a .txt h3 {
    font-family: 'GM';
    font-size: 28px;
    font-weight: 800;
    margin: 39px 0 15px 0;
    /*2줄제한*/
    line-height: 1.3;/*행간 1.3*/
    height: 2.6em;/*줄 높이 × 2줄 = 두 줄까지만 영역 확보 */
    overflow: hidden;/*넘어가면 그냥 잘라버림 (말줄임표 …는 안 생김)*/
    /*...추가*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*최대 2줄까지만 표시하고 그 뒤는 … 붙이기*/
    -webkit-box-orient: vertical;/*세로 방향으로*/
}
.webzine .list .swiper-slide a .txt p {
    /*3줄제한*/
    line-height: 1.5;
    height: 4.5em;/* line-height × 줄 수( 단위는em) */
    overflow: hidden;
    /*...추가*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.webzine .more {
    position: absolute; /*webzine을 기준으로 정렬*/
    right: calc(50% - 630px);
    top: 252px;
    z-index: 1;
}

.webzine .more a {
    display: block;
    padding: 0 28px 0 0; /*모어 옆에 패딩을 넣어서 옆에 아이콘이 눌릴 상자를 만듬*/
    opacity: 80%;
}
.webzine .more a::after { /* more뒤 after에 엡솔루트로 스티커 붙이기*/
    content: "";
    position: absolute; /*more기준으로 정렬*/
    right: 0;
    top: 3px;
    width: 24px; /* 내가 넣은 아이콘만하게 높이 너비 주기*/
    height: 24px;
    background: url(../images/webzine_more.svg) no-repeat center center;
    transition: 0.8s;
    opacity: 80%;
}
.webzine .more a:hover::after {
    right: -10px;/*a에 오버할때 after의 변화-> 10px이동*/
} 
/*오버스타일*/
.webzine .list .swiper-slide:hover a { /*a에 주면 영역을 이동해서 슬라이드에 오버주기*/
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);
    transform: translate(-10px, -20px);
}
.webzine .list .swiper-slide:hover a .photo img {
    transform: scale3d(1.2, 1.2, 1); 
    /*아무 데나 올려도 같은 효과가 나와야 자연스러워서 **슬라이드(또는 a 전체)**에 hover를 건 거*/
}

@media screen and (max-width:768px){ 
                   .webzine {
                        padding: 107px 0 71px 0;

                    }

                    .webzine .list {
                        width: auto;
                        margin: 19px 16px 0 16px; /*16px 좌우여백 , 위여백*/
                    }
                    .webzine .list .swiper-slide {
                        width: 401px; /*최소넓이*/
                    }
                    .webzine .list .swiper-slide a {
                        height: 575px;
                    }
                    .webzine .list .swiper-slide a .photo {
                        height: 293px;
                        border-radius: 20px 20px 0 0;
                        position: relative; /*cate 정렬의 기준*/
                    }

                    .webzine .list .swiper-slide a .txt {
                        margin: 44px 16px 0 16px;
                    }
                    .webzine .list .swiper-slide a .txt h3 {
                        font-family: 'GM';
                        font-size: 28px;
                        font-weight: 800;
                        margin: 44px 0 12px 0;
                    }
                    
                    .webzine .more {
                    top: 55px;/*???*/
                    }
                    .webzine .more a {
                        padding: 0; /*모어 옆에 패딩을 넣어서 옆에 아이콘이 눌릴 상자를 만듬*/
                        width: 26px;
                        height: 26px;
                        background: url(../images/arrow_black.svg)no-repeat center center;
                        border-radius: 50%;

                    }
                    .webzine .more a span {
                        display: none; /*more글씨 날리기*/
                    }
}

.service {
    margin: 148px 0 0 0;
}

.service .list {
    margin: 37px 0 0 0;
}

.service .list ul {
    display: flex; /*li좌우배치*/
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*100 나누기 한줄에 들어가는 li 개수 =100/3 =33.3%
    한줄의 여백의 합 나누기 한줄에 들어가는 li 개수 =40/3 =16*/
}
.service .list ul li a {
    display: block;
    padding: 40px 90px 40px 40px;/*90px준 이유= a 들어가는 자리 만들기위해 글짜가 a와 겹치지
    않기위해 내안쪽살을 더 만듬*/
    background-color: #15195C;
    border-radius: 20px;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05); 
    position: relative;/*a의 afer정렬기준*/
}
.service .list ul li a::after {
    content: "";
    position: absolute;
    right: 35px;
    /* top: 65px; */
    top: 50%; /*가운데에서 아래로 내려감*/
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff url(../images/webzine_more.svg) no-repeat center center;
    transition: transform 2s;
}
.service .list ul li a h3 {
    font-size: 28px;
    font-weight: 800;
    /*한줄제한*/
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

}
/*오버스타일*/
.service .list ul li:hover a {
    background-color: #F2F4FF;
    color: #1d1d1d;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
}
.service .list ul li:hover a::after {
    background-color: #15195C;
    background-image: url(../images/notice_more.svg);
}


@media screen and (max-width:768px){ 
                    .service {
                        margin: 103px 0 0 0;
                    }
                    
                    .service .list {
                        margin: 30px 0 0 0;
                    }
                    
                    .service .list ul {
                        flex-direction: column; /*플랙스를 세로로*/
                        gap: 8px 0;
                    }
                    .service .list ul li {
                        width: auto;
                    }
                    .service .list ul li a {
                        padding: 27px 100px 27px 14px;
                    }
                    .service .list ul li a::after {
                        right: 15px;
                        /* top: 44px; */
                        border-radius: 50%;
                    }
                    .service .list ul li a h3 {
                        font-size: 20px;
                        font-weight: 800;
                        font-family: 'GM';
                    }
                    
}/*@media */


footer {
    background-color: #1C1D32;
    color: #fff;
    padding: 67px 0 81px 0;
    margin: 144px 0 0 0;
} 
footer .wrapper {
    position: relative; /*top정렬기준*/
}
footer .top { /*top영역에 백그라운드 넣기*/
    position: absolute;
    right: 0;
    top: 0;
    width: 43px; /*백그라운드 원의 넓이*/
    height: 43px;
    background-color: #454553;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    padding: 10px 0 0 0; /*글짜 살짝내리기*/
}
footer .top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 6px;
    background: url(../images/arrow_newnew.svg) no-repeat center center;
}
footer .top:hover {
    background-color: #2048BA;
}
footer .f_nav ul {
    display: flex;
    gap: 47px;
    flex-wrap: wrap; /*줄바꿈 허용-> 사이브 바뀌면 줄바뀌게*/
}
footer .f_nav ul li {
    position: relative; /*after정렬의 기준*/
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    right:-24px;
    top: 7px ;
    width: 1px;
    height:13px ;
    background-color: #fff;
    opacity: 30%;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info {
    margin: 38px 0 25px 0;
    display: flex;
    flex-wrap: wrap; /*여러줄허용*/
    gap: 44px;
}
footer .copyright {
    color: rgba(225, 225, 225, 0.8);
}
@media screen and (max-width:768px){
                    footer {
                        padding: 59px 0 32px 0;
                        margin: 86px 0 0 0;
                    } 
                    footer .top { /*top영역에 백그라운드 넣기*/
                        top: -51px;
                        width: 38px; /*백그라운드 원의 넓이*/
                        height: 38px;
                        font-size: 11px;
                        padding: 8px 0 0 0; /*글짜 살짝내리기*/
                    }
                    footer .f_nav ul {
                        gap: 0px;
                        justify-content: space-between;

                    }
                    footer .f_info {
                        margin: 14px 0 14px 0;
                        gap: 0;
                    }
                
}