@import url(common.css);
@import url(default.css);
@import url(fonts.css);

.visual {
    position: relative; /*btn-wrap의 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 높이와 동일하게 상대높이*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}


.visual .swiper-slide h3 {
    font-size: 60px;
}

.visual .swiper-slide h3 br.mo_olny {
    display: none;
}

.visual .btn_wrap {
    position: absolute;
    left: 50%; /* 630= 1260의 절반 = 50 ( => 왼쪽하단에 넣고싶은경우)=calc(50% - 630px)*/
    bottom: 50px;
    z-index: 1;
    display: flex;
    gap: 0 5px;
}

.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow2.svg);
}

@media screen and (max-width:768px){
    
                        .visual .swiper-slide {
                            align-items: center;
                        }
                        .visual .swiper-slide h3 {
                            font-size: 40px;
                        }
                        .visual .swiper-slide h3 br.mo_olny {
                            display: block;
                        }
                        .visual .swiper-slide p {
                            margin: 0;
                        }
                        
                        .visual .btn_wrap {
                            left: 50%;/* 50% 이동 이동 */
                                        /*pc버전에서 buttom를 줬다가 모바일에서 top로 바꾸는 경우 auto로*/
                            transform: translateX(-50%);
                            /*나자신 btn_wrap 넒이의 절반을 왼쪽으로 이동*/
                            z-index: 1;
                            display: flex;
                            gap: 0 5px;
                        }
                        
                        .visual .btn_wrap button {
                            border: 1px solid #fff;
                            border-radius: 50%;
                            width: 32px;
                            height: 32px;
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        .visual .btn_wrap button.btn_prev {
                            background-image: url(../images/visual_arrow.svg);
                        }
                        .visual .btn_wrap button.btn_play {
                            background-image: url(../images/visual_play.svg);
                            display: none; /*stop버튼이 눌려야함 보임*/
                        }
                        .visual .btn_wrap button.btn_stop {
                            background-image: url(../images/visual_stop.svg);
                        }
                        .visual .btn_wrap button.btn_next {
                            background-image: url(../images/visual_arrow2.svg);
                        }
}/*@media*/
.biz {
    margin: 150px 0 0 0;
}
.biz .wrapper {
    display: flex; /*tit-list 좌우배치*/
    justify-content: space-between;
    align-items: flex-start; /*위로 딱붙어!*/
}

.biz .tit {
    position: sticky;
    top: 80px;
}
.biz .list {
    width: 706px;
    padding: 0 0 127px 0;

} 
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 20px 20px; /*위아래, 좌우*/
}
.biz .list ul li {
    width: calc(50% - 12px);
    /*100/ 한줄에 나오는 li 개수 =100/2=50%
    한줄 여백의 합/ 한줄에 나오는 li개수 = 24/2=12ㅔㅌ*/
}

.biz .list ul li:nth-child(odd) {
    transform: translateY(127px);
}
.biz .list ul li a {
    display: block;
    position: relative; /*txt 정렬의 기준*/
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 43px;
    width: calc(100% - 86px);
    bottom: 56px;
    color: #fff;

} 
.biz .list ul li a .txt h3 {
    font-size: 30px;

}
.biz .list ul li a .txt p {
    display: none;/*안보임*/
}

footer {
    margin: 1500px 0 0 0;
} 

