@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 70px;
}
header .wrapper {
    display: flex; /*logo랑 gnb를 좌우로 배치*/
    justify-content: space-between;/* 나의 영역안에 끝으로 이동*/
    align-items: center;/*로고를 중간으로 보내기! logo와 gnb를 중앙배치*/
}
header .gnb ul {
    display: flex; /*li를 좌우로 배치*/
}
header .gnb ul li a {
    display: block; /*a는 기본이 block*/
    line-height: 70px; /*헤더의 높이와 동일하게*/
    font-weight: 700;
    font-size: 18px;
    color: #1E2124;
    padding: 0 26px 0 26px;
    letter-spacing: -0.02em; /* letter-spacing=자간*/
    /*em은 상대값: 현재 글자크기를 1em이라고 보면됨*/
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;/*사진이 들어가는 백그라운드의 경우 높이를 줌*/
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    list-style: 1.4;
    letter-spacing: -0.02em;
    padding: 326px 0 19px 0;
} 
.biz {
    margin: 160px 0 0 0;
}
.biz .art,
.biz .sch {
    margin: 100px 0 0 0;
}

.biz .wrapper {
    display: flex; /*txt와 photo를 좌우로 배치*/
    justify-content: space-between;
}
.biz .txt {
    width: 522px; /*텍스트 너비제한*/
}
.biz .txt strong {
    color: #882C34;
    display: block;
    font-weight: 700;
}
.biz .txt h2 {
    font-size: 40px;
    font-weight: 700;
    list-style: 1.4;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 20px 0 20px 0;
}
.biz .txt h2 em {
    color: #882C34;
}
.biz .photo {
    overflow: hidden;
    width: 605px;
    height: 500px;
    border-radius: 30px;
}
.biz .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .txt .sub_tit {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin: 0 0 15px 0;
}
.biz .txt .btn_wrap{
    margin: 53px 0 0 0; /*a가 좌우로 배치*/
    display: flex;
    flex-wrap: wrap;/*여러줄 허용해서-> 한줄로 만듬*/
    gap: 8px 8px; /*a와 a사이의 여백*/
}
.biz .txt .btn_wrap a{
    display: block;
    border: 1px solid #882C34;
    color: #882C34;
    padding: 10px 29px 10px 29px;
    border-radius: 30px;
    transition: 0.5s; /*천천히 변화, 개취임*/
}
.biz .txt .btn_wrap a:hover { /*a에 마우스를 올렸을때 */
    background-color:#882C34;
    color: #fff;
    border-radius: 30px;
}

.community {
    background: url(../images/commumity_bg.jpg) no-repeat center top/ auto 920px;
    /*배경이 위에 있으니까 top*/
    margin: 145px 0 0 0 ;
    height: 100%;
    /*콘텐츠가 배경보다 길어서 배경의 높이만큼 주면x
    background의 높이니까 backround*/
    color: #fff;
}
.community .news{
    padding: 120px 0 0 0;

}
.community .news .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.community .news .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin: 0 0 15px 0;
}
.community .news .tit a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 29px 10px 29px;
    border-radius: 30px;
    margin: 45px 0 0 0;
}
.community .news .tit a:hover {
    background-color: #fff;
    color: #882C34;
    transition: 0.5s;
}
.community .news .list {
    width: 802px;
}
.community .news .list ul li {
    border-bottom: 1px solid rgba(225, 225, 225,0.2);
    /*border-bottom-> 아래방향에 선*/
}
.community .news .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}
.community .news .list ul li a h3 {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    width: 700px;
    /*한줄제한: */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.community .news .list ul li a:hover h3 {
    font-weight: 700;
}
.community .news .list ul li a span {
    color: rgba(225,225,225,0.8);
}
.community .media {
    margin: 100px 0 0 0;
}
.community .media .tit {
    display: flex ; /*h2좌우 배차*/
    justify-content: space-between;
    align-items: center;
    
}
.community .media .tit h2 {
    font-size: 40px;
    font-weight: 700;
    list-style: 1.4;
    letter-spacing: -0.02em;
}
.community .media .tit a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 29px 10px 29px;
    border-radius: 30px;
}
.community .media .tit a:hover {
    background-color: #fff;
    color: #882C34;
}
.community .media .list {
    margin: 36px 0 0 0;
}
.community .media .list ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.community .media .list ul li {
    width: 380px;
}
.community .media .list ul li a {
    display: block;
}
.community .media .list ul li a .photo {
    overflow: hidden;
    height: 228px;
    border-radius: 10px;
}
.community .media .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /**/
}
.community .media .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1)
}
.community .media .list ul li h3{
    font-size:20px ;
    color: #1E2124;
    letter-spacing: -0.02em;
    margin: 22px 0 0 0;
    /*2줄제한- 조건: 넓이가 있어야함*/
    line-height: 1.4;
    height: 2.8em; /*행간x 줄수= (1.4*2)단위는 em*/
    overflow: hidden;
    /*호환성이 낮은 일부 브라우저에서만 되는 속성 -css오류검사에서 경고처리됨*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
footer {
    margin: 180px 0 0 0;
    padding: 75px 0 66px 0;
    background-color: #1E2124;
    color: #fff;
}
footer .wrapper {
    display: flex; /*inner랑 famailysite를 좌우 배치*/
    justify-content: space-between;

}
footer .inner .f_nav ul {
    display: flex; /*li를 좌우로 배치*/
    gap: 0 46px;
}
footer .inner .f_nav ul li a {
    display: block;
}
footer .inner .f_nav ul li a:hover {
    text-decoration: underline;
}
footer .inner .f_info {
    margin: 17px 0 17px 0;
}
footer .inner .f_info .group {
    display: flex;
    gap:0 47px;
}
footer .inner .copyright {
    color: rgba(255,255,225, 0.8);
}
footer .family_site button {
    width: 184px;
    line-height: 40px; /*행간으로 높이를 주면 글자는 위아래 가운데*/
    background-color: #882C34;
    display: block;
    text-align: left;
    padding: 0 0 0 20px;
} /*버튼태그는 기본적으로 위아래좌우 가운데로 배치해줌*/
