/****************

파일명 : contents.css
작성자 : 이재은
작성일 : 25-10-23
설 명  : 연혁, 인사말등의 각 페이지에만 들어가는 스타일을 모두 모음..
        이 파릴에 있는 css를 수정하면 그 페이지 한개에서만 영향을 끼침

****************/

/* 회사소개 -ceo인사말(메뉴명을 써줌)*/

.ctn_ceo .ceo_head {
        height: 200dvh; /*브라우저 높이*/
        position: relative; /*ceo_photo 정렬의 기준*/
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        
}
.ctn_ceo .ceo_head::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 20px;
        height: 100%;
        font-size: 50px;
} 
.ctn_ceo .ceo_head .ceo_photo {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100dvh;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
        top: auto;
        bottom: 0;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
        position: fixed;
}
.ctn_ceo .ceo_head .ceo_photo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 50%;
        height: 50%;
        background: url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
        transform: width 0.5s, height 0.5s;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
}
.ctn_ceo .ceo_head .ceo_txt { /*r글자 중간으로 배치*/
        height: 100dvh; /*200dvh로 잡았는데 그거의 절반 100dvh의 중간에 배치한것*/
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.ctn_ceo .ceo_head .ceo_txt p {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 33px 0 0 0;
}
.ctn_ceo .ceo_cont {
        margin: 100px 0 0 0;
}

.ctn_ceo .ceo_cont h3 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 38px 0;
        color: var(--color-title);
}
.ctn_ceo .ceo_cont .sign {
        display: flex;
        justify-content: flex-end;
        gap: 0 30px;
}
.ctn_ceo .ceo_cont .sign strong {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 46px 0;
        color: var(--color-title);
}
.ctn_ceo .ceo_cont .sign .sign_img {
        display: block;
        width: 178px;
        height: 90px;
        background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain;
        margin: 0 0 90px 0;
}
@media screen and (min-width:1024px){
        .ctn_ceo .ceo_head::before {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                width: 20px;
                height: 100%;
                font-size: 24px;
        } 

        .ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
                top: auto;
                bottom: 0;
        }
        .ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
                position: fixed;
        }
        .ctn_ceo .ceo_head .ceo_photo .ceo_img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                width: 50%;
                height: 50%;
                background: url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
                transform: width 0.5s, height 0.5s;
        }
        .ctn_ceo .ceo_head .ceo_photo .ceo_img::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.6;
        }
        .ctn_ceo .ceo_head .ceo_txt {
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
        }
        .ctn_ceo .ceo_head .ceo_txt p {
                color: #fff;
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 33px 0 0 0;
        }
        .ctn_ceo .ceo_cont {
                margin: 100px 0 0 0;
        }
        
        .ctn_ceo .ceo_cont h3 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 38px 0;
                color: var(--color-title);
        }
        .ctn_ceo .ceo_cont .sign {
                text-align: right;
        }
        .ctn_ceo .ceo_cont .sign strong {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 46px 0;
                color: var(--color-title);
        }
        .ctn_ceo .ceo_cont .sign .sign_img span {
                display: inline-block;
                width: 178px;
                height: 90px;
                background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain;
        }


}/*media*/