/****************

파일명 : contents.css
작성자 : 이재은
작성일 : 25-10-23
설 명  : 연혁, 인사말등의 각 페이지에만 들어가는 스타일을 모두 모음..
        이 파릴에 있는 css를 수정하면 그 페이지 한개에서만 영향을 끼침

****************/

/* 회사소개 -ceo인사말(메뉴명을 써줌)*/

.ctn_ceo .ceo_head {
        height: 200dvh; /*브라우저 높이*/
        position: relative; /*ceo_photo 정렬의 기준*/
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        
}
.ctn_ceo .ceo_head::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 20px;
        height: 100%;
        font-size: 50px;
} 
.ctn_ceo .ceo_head .ceo_photo {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100dvh;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
        top: auto;
        bottom: 0;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
        position: fixed;
}
.ctn_ceo .ceo_head .ceo_photo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 50%;
        height: 50%;
        background: url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
        transform: width 0.5s, height 0.5s;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
}
.ctn_ceo .ceo_head .ceo_txt { /*r글자 중간으로 배치*/
        height: 100dvh; /*200dvh로 잡았는데 그거의 절반 100dvh의 중간에 배치한것*/
        display: flex;
        flex-direction: column;
        justify-content: center;
}
.ctn_ceo .ceo_head .ceo_txt p {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 33px 0 0 0;
}
.ctn_ceo .ceo_cont {
        margin: 100px 0 0 0;
}

.ctn_ceo .ceo_cont h3 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 38px 0;
        color: var(--color-title);
}
.ctn_ceo .ceo_cont .sign {
        display: flex;
        justify-content: flex-end;
        gap: 0 30px;
}
.ctn_ceo .ceo_cont .sign strong {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 46px 0;
        color: var(--color-title);
}
.ctn_ceo .ceo_cont .sign .sign_img {
        display: block;
        width: 178px;
        height: 90px;
        background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain;
        margin: 0 0 90px 0;
}
@media screen and (min-width:1024px){
        .ctn_ceo .ceo_head::before {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                width: 20px;
                height: 100%;
                font-size: 24px;
        } 

        .ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
                top: auto;
                bottom: 0;
        }
        .ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
                position: fixed;
        }
        .ctn_ceo .ceo_head .ceo_photo .ceo_img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                width: 50%;
                height: 50%;
                background: url(../images/contents/ceo_img01.jpg) no-repeat center center / cover;
                transform: width 0.5s, height 0.5s;
        }
        .ctn_ceo .ceo_head .ceo_photo .ceo_img::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.6;
        }
        .ctn_ceo .ceo_head .ceo_txt {
                height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
        }
        .ctn_ceo .ceo_head .ceo_txt p {
                color: #fff;
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 33px 0 0 0;
        }
        .ctn_ceo .ceo_cont {
                margin: 100px 0 0 0;
        }
        
        .ctn_ceo .ceo_cont h3 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 38px 0;
                color: var(--color-title);
        }
        .ctn_ceo .ceo_cont .sign {
                text-align: right;
        }
        .ctn_ceo .ceo_cont .sign strong {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 46px 0;
                color: var(--color-title);
        }
        .ctn_ceo .ceo_cont .sign .sign_img span {
                display: inline-block;
                width: 178px;
                height: 90px;
                background: url(../images/contents/ceo_sign.jpg) no-repeat center center / contain;
        }


}/*media*/



/* ##########################기업소개 > 연혁 (시작)#############################*/
.ctn_history .his_wrap {
        border: 5px solid red;
}
.ctn_history .his_head {
        font-size: clamp(20px, 2.5vw, 4rem);
        padding: 3.5294em 0 3.5294em 0;
        background: url(../images/contents/his_head01.jpg) no-repeat center center / contain;
        color: rgba(225, 225, 225, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
}
.ctn_history .his_head.bg2 {
        background-image: url(../images/contents/his_head02.jpg);
}
.ctn_history .his_head.bg3 {
        background-image: url(../images/contents/his_head03.jpg);
}
.ctn_history .his_head.bg4 {
        background-image: url(../images/contents/his_head04.jpg);
}
.ctn_history .his_head h3 {
        font-weight: 700;
        line-height: 1.3;
        position: relative; /*stron정렬의 기준*/
        white-space: nowrap; /*줄바꿈금지*/
}
.ctn_history .his_head h3 strong {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%; /*넓이로 인터렉티브주기 따라서 넓이가 글자만큼딱 잡혀있어야함(flex를 줘서 넓이제한)*/
        overflow: hidden;
        color: #fff;
}
.ctn_history .his_cont {
        margin: 100px 0 140PX 0;
}
.ctn_history .his_cont .wrapper {
        display: flex; /*his_tit 과 his_year=>좌우배치*/
        justify-content: space-between;
}
.ctn_history .his_cont.tit_right .wrapper {
        flex-direction: row-reverse; /*좌우반전*/
        text-align: right;
}
.ctn_history .his_cont .his_tit strong{
        font-weight: 700;
        color: var(--color-main);
}
.ctn_history .his_cont .his_tit {
        max-width: 45%;
}
.ctn_history .his_cont .his_tit h4 {
        font-size: 40px;
        font-weight: 700;
        color: var(--color-title);
        line-height: 1.3;
        margin: 14px 0 0 0;
}
.ctn_history .his_cont.tit_left .his_year {
        padding-left: 60px;
        padding-right: 0;
}
.ctn_history .his_cont .his_year {
        width: 50%;
        position: relative; /*before정렬의 기준*/
        padding-right: 60px;
}
.ctn_history .his_cont .his_year::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: #ededed;
}
.ctn_history .his_cont.tit_right .his_year::before {
        left: auto;
        right: 0;
}

.ctn_history .his_cont .his_year .year_tit {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-title);
        margin: 0 0 10px 0;
        position: relative; /* before정렬의 기준*/
}
/*
        [ 인접선택자 ]
        <div class="year_tit">   => 첫번째 year_tit 에서는 적용x
        <div class="year_list">
        <div class="year_tit">   => 두번째 year_tit 에서만 적용할수있음
        <div class="year_list">
        
        => .his_year .year_list + .year_tit  => year_list 다음에 나오는 year_tit 에만 적용하라는뜻

*/
.ctn_history .his_cont .his_year .year_list + .year_tit {
        margin-top: 40px;
}

.ctn_history .his_cont .his_year .year_tit::before {
        content: "";
        position: absolute;
        left: -63px;
        top: 19px;
        z-index: 1;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-main);
}
.ctn_history .his_cont.tit_right .his_year .year_tit::before {
        left: auto;
        right: -62px;
}
.ctn_history .his_cont .his_year .year_tit:first-child::after {
        content: "";
        position: absolute;
        left: -60px;
        top: 0;
        width: 2px;
        height: 19px;
        background-color: #fff;
}
/*
        <ul>
                <li></li> -- 같은 태그가 연속으로 반복될때 first-child . ?
                <li></li>
                <li></li>
        
        </ul>


*/
.ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
        left: auto;
        right: -60px;
}
.ctn_history .his_cont .his_year .year_list {
        position: relative; /* after정렬의 기준*/
}
.ctn_history .his_cont .his_year .year_list:last-child::after {
        content: "";
        position: absolute;
        left: -60px;
        bottom: -15px;
        width: 2px;
        height: calc(100% + 41px);
        background-color: #fff;
}
.ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
        left: auto;
        right: -60px;
}
.ctn_history .his_cont .his_year .year_list dl dt {
        color: var(--color-title);
        float: left;
        /*dd가 왼쪽으로감*/
        /* ?*/
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dt {
        float: right;
}
.ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 15px 98px;
}
.ctn_history .his_cont.tit_right .his_year .year_list dl dd {
        margin: 0 98px 15px 0;
}
.ctn_history .his_bar {
        position: fixed;
        left: 50%;
        bottom: 5%;
        z-index: 99;/*헤더 바로아래*/
        transform: translateX(-50%);
        background-image: linear-gradient(90deg, #EAE7E7, #848282); /*그라데이션, (투명하게 하고싶으면 rgba넣기)*/
        border-radius: 70px;
        padding: 9px;
        color: var(--color-title);
        max-width: 95%;
        overflow: hidden;
}
.ctn_history .his_bar ul {
        display: flex;
        gap: 10px;
        overflow-y: hidden; /**/
        overflow-x: auto;/*좌우스크롤생성*/
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE, Edge */
}
.ctn_history .his_bar ul::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, Opera */
      }
.ctn_history .his_bar ul li button {
        display: block;
        padding: 0.75em 2.35em 0.75em 2.35em;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.3;
        border-radius: 60px;
        white-space: nowrap;
}
.ctn_history .his_bar ul li.active button {
        color: #fff;
        padding: 15px 48px;
        background-color: var(--color-main);
}
@media screen and (max-width:1024px){ 
                .ctn_history .his_head {
                        height: 358px;
                }
                .ctn_history .his_head h3 {
                        font-size: 24px;
                }
                
                .ctn_history .his_cont {
                        margin: 40px 0 70px 0;
                }
                .ctn_history .his_cont .wrapper {
                        display: block; /*플랙스해지*/
                }
                .ctn_history .his_cont.tit_right .wrapper {
                        text-align: left;
                }
                .ctn_history .his_cont .his_tit {
                        max-width: 100%;
                }
                .ctn_history .his_cont .his_tit h4 {
                        font-size: 24px;
                        margin: 14px 0 0 0;
                }
                
                .ctn_history .his_cont .his_year {
                        width: auto;
                        padding-left: 22px;
                        margin: 34px 0 0 0;
                }
                .ctn_history .his_cont.tit_right .his_year {
                        padding-left: 28px;
                        padding-right: 0;
                }
                .ctn_history .his_cont.tit_right .his_year::before {
                        left: 0;
                        right: auto;
                }

                .ctn_history .his_cont .his_year .year_tit {
                        font-size: 24px;
                        margin: 0 0 10px 0;
                }
                
                .ctn_history .his_cont .his_year .year_list + .year_tit {
                        margin-top: 24px;
                }
                .ctn_history .his_cont .his_year .year_tit::before {
                        left: -62px;
                        top: 14px;
                }
                .ctn_history .his_cont.tit_right .his_year .year_tit::before {
                        left: -30px;
                        right: auto;
                }

                .ctn_history .his_cont .his_year .year_tit:first-child::after {
                        left: -60px;
                        height: 19px;
                }
                /*
                        <ul>
                                <li></li> -- 같은 태그가 연속으로 반복될때 first-child . ?
                                <li></li>
                                <li></li>
                        
                        </ul>
                
                
                */
                .ctn_history .his_cont.tit_right .his_year .year_tit:first-child::after {
                        left: -60px;
                        right: auto;
                }

                .ctn_history .his_cont .his_year .year_list:last-child::after {
                        left: -60px;
                        height: calc(100% + 34px);
                }
                .ctn_history .his_cont.tit_right .his_year .year_list:last-child::after {
                        left: -60px;
                        right: auto;
                }

                .ctn_history .his_cont .his_year .year_list dl dd {
                        margin: 0 0 15px 88px;
                }
                .ctn_history .his_cont.tit_right .his_year .year_list dl dd {
                        margin: 0 0 15px 88px;
                }
                /****/
               
                .ctn_history .his_bar ul li button {
                        padding: 0.75em 2.35em 0.75em 2.35em;
                        font-size: 16px;
                }
                .ctn_history .his_bar ul li.active button {
                        color: #fff;
                        padding: 13px 32px;
                        background-color: var(--color-main);
                }


}/*media*/





/* ##########################기업소개 > 연혁 (끝)#############################*/


