/****************

파일명 : main.css
작성자 : 이재은
작성일 : 25-10-23
설 명  : index파일(메인페이지) 에서만 호출하는 css
        main.css (index의 스타일이 이페이지에서 선언됨 , 하지만 header footer제외)
        default.css (태그의초기화 - 브라우저가 주는 기보노 스타일삭제)
        common.css (wrap ,wrapper,blind,root(변수) 같은 모든 페이지에서 반복되는 기본스타일정의)
                                      ( 변수가 너무 많으면 var이라는 파일을 분리하기도함)
        layout.css (문서의 구조에 영향을 끼치는 요소-> header/footer가 들어감)

****************/
@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);


.visual{
    position: relative; /*scroll정렬의 기준*/
}
.visual .popup .slide {
    height: 100dvh;
    position: relative; /*photo정렬의 기준*/
    display: flex; /* txt를 슬라이드의 하단에 배치하기위해 플랙스주기*/
    /* txt를 slide의  하단에배치 - 높이가100%*/
    flex-direction: column; /*?*/
    justify-content: flex-end;
}   
.visual .popup .slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .slide .photo img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 2s;
}
.visual .popup .slide.slick-active .photo img { 
    transform: scale3d(1, 1, 1); /*1.2->1 축소시킨것*/
}
.visual .popup .slide .txt {
    position: relative;/*z-index필수값? 인덱스줄때 꼭 포시젼줘야되나?*/
    z-index: 10;
    color: #fff;
    margin-bottom: 150px;
}
.visual .popup .slide .txt h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 8px 0;
}
@media screen and (min-width:769px){  /*pc버전에서만 동작*/
    .visual .popup .slide .txt .line {
        display: block; /*?*/
        overflow: hidden;
    }
    .visual .popup .slide .txt .line span {
        transform: translateY(100%);
        display: block;
        transition: transform 1s;
        transition-delay: 0.5s;
    }
    .visual .popup .slide.slick-active .txt .line span {
        transform: translateY(0);
    }
}/*media pc*/

.visual .scroll {
    position: absolute;
    right: 0;
    bottom: 148px;
    color: #fff;
    font-size: 1.5rem;
    transform: rotate(90deg);
    
}
.visual .scroll::after {
    content: "";
    position: absolute;
    left: 108px;
    bottom: 9px;
    width: 7px;
    height: 7px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    animation: scroll 1s linear infinite;
}
@keyframes scroll {
    0%{left: 130px;}
    0%{left: 120px;}
    0%{left: 100px;}

}
@media screen and (max-width:1024px){ 
            .visual .popup .slide .txt h2 {
                font-size: 4rem;
            }
            .visual .scroll {
                display: none;
            }
}
@media screen and (max-width:768px){    
            .visual .popup .slide {
                height: 605px;
            }   
            .visual .popup .slide .txt {
                margin-bottom: 100px;
            }
            .visual .popup .slide .txt h2 {
                font-size: 4rem;
                transform: translateY(50%);
                opacity: 0;
                transition: transform 1s opacity 1s;
                transition-delay: 0.3s;
            }
            .visual .popup .slide.slick-active .txt h2 {
                transform: translateY(0);
                opacity: 1;
            }
            .visual .popup .slide .txt h2 .line {
                display: block; /*줄바꿈*/
            }
            .visual .popup .slide .txt p {
                display: none; /*p태그 없애기*/
            }

            
}/*media*/




















/*23일-> em기능 */

footer {
    margin: 500px;
}