@font-face {
    font-family: 'Paperozi';
    src: url(../fonts/Paperlogy-4Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Paperozi';
    src: url(../fonts/Paperlogy-8ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-display: swap;
}
