@import url(common.css);
@import url(default.css);
@import url(fonts.css);

header {
    position: absolute; 
    /*wrap을 기준으로 정렬. wrap영역을 벗어나지 않고 최소 여백주기위해*/
    left: 0;
    top: 0;
    z-index: 100;/*header는 맨위 100층 에 위치 그냥 항상주기*/
    width: 100%;/*absolute를 주면 너비를 상실하기땜에 꽉채우게 100%주기*/
    height: 80px;/* 헤더 높이 주기*/
    color: #fff;/*글씨 색상변경*/
}
header .wrapper {
    display: flex; /*logo -gnb-util 좌우 배치(개수상관 없음)*/
    justify-content: space-between;
    align-items: center;/*logo와 gnb를 중앙배치하여 로고를 중간으로 보내기위해*/
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center/ cover;
    border-radius: 0 0 200px 0;
}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 딱 맞춰서 높이를 주는 단위 vh*/
    min-height: 580px;
    /*줄어드는 최소 높이 설정= 580px보다 적어지면 줄어드는걸 멈춤
    여기서 더 줄면 글짜도 날라가고 헤더 찌그러 드니까 최소높이 두기*/
    position: relative;/*life 정렬의 기준*/
}
header .gnb ul {
    display: flex; /*ul을 좌우 배치*/
}
header .gnb ul li a {
    display: block;
    font-size: 22px;
    line-height: 80px; 
    /*행간 높이를 header 의 높이와 같은 값주기. 왜나면 거기에도 눌려야하기땜*/
    padding: 0 22px 0 22px;/*좌우 너비주기*/

}
.visual h2 {
    padding: 30vh 0 0 0; /* 로고이미지도 브라우저 길이에따라서 확대축소되야해서*/
    text-align: center; /*로고 중간배치*/
}
.visual .life {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 동그라미는 50%*/
    background-color: #273961;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    padding: 92px 0 0 0;
    box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.1);
    /*박스그림자= 수평거리,수직거리,범짐거리 (빨 초 파 투명도)*/
    position: absolute; /*before 정렬의 기준*/
    right: -100px;
    bottom: -100px;
}

.visual .life strong {
    font-weight: 800;
}
/*life 오버스타일*/
.visual .life:hover {
    color: #8EEEFF;
    box-shadow: 9px 9px 11px 0 rgba(0, 0, 0, 0.13);
}
.visual .life:hover::before {
    background-image: url(../images/life_ico_over.svg);
}


.visual .life::before {
    content: "";
    position: absolute; /*life를 기준으로 정렬*/
    left: 0;
    top: 55px;
    width: 100%;/* 정렬의 기준인 life의 넓이를 기준으로 100%*//*life와 넓이를 똑같게 만듬 센터 넣을거니까*/
    height: 35px;
    background: url(../images/life_ico.svg) no-repeat center top; 
    /*가로 중앙(center) + 세로 위쪽(top)cover주면 짤림 꽉참*/
}

header .util {
    display: flex;
    gap: 0 58px;
    margin: 0 20px 0 0;
}
header .util .weather {
    padding: 24px 0 0 0;
    font-size: 16px;
    position: relative;/*weather정렬의 기준*/
}
header .util .weather::before {
    content: "";
    position: absolute;/*weather기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 40px;
    height: 100%;
    background: url(../images/util_weather.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
header .util .weather a {
    display: block;
}
header .util .sea {
    position: relative;
    padding: 24px 0 0 0;
    font-size: 16px;
}
header .util .sea::before {
    content: "";
    position: absolute;/*sea기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 53px;
    height: 100%;
    background: url(../images/util_sea.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
header .util .flow {
    position: relative;
    padding: 24px 0 0 0;
    font-size: 16px;
}
header .util .flow::before {
    content: "";
    position: absolute;/*sea기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 40px;
    height: 100%;
    background: url(../images/util_flow.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
.culture {
    margin: 153px 0 0 0;
}
.culture .wrapper {
    position: relative;/*more 정렬의 기준 */
}
.tour .more a,
.culture .more {
    position: relative;/*wrapper를 기준으로*/
    right: -1173px;
    top: -500px;
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
.culture .list {
    margin: 45px 0 0 0;
}
.culture .list ul {
    display: flex; /*li를 좌우로 배치*/
    justify-content: space-between;
}
.culture .list ul li {
    /*감싸고 있는 ul의 넓이의 몇개가 정렬(3개=33.33%)
    100% 나누기 한줄의  li의 개수=> 100/3=33.33%
    한줄의 사이 여백의 합 = 24*2=48 / 한줄의 li 갯수 = 48/3=16
    calc(33.33%-16px)
    */
    width: calc(33.33% - 16px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden;
    height: 280px;
}

.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 22px 0 10px 0;
}
.tour .more a,
.culture .more a {
    padding: 0 16px 0 0;
    display: inline-block; /*block이랑인라인블럭 무슨차이?*/
    font-weight: 800;
    position: relative;/*afer정렬의 기준*/
}
.tour .more a::after {
    content: "";
    position: absolute;/*a를 기준으로 정렬*/
    right: -16px;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(../images/culture_more.svg)no-repeat center center;
}
.culture .more a::after {
    content: "";
    position: absolute;/*a를 기준으로 정렬*/
    right: -16px;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(../images/culture_more.svg)no-repeat center center;
}
.tour .more a,
.culture .more a:hover::after {
    animation-name: more;
    animation-duration: 1s;
    animation-iteration-count:3;
}
@keyframes more { 
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.tour {
    margin: 111px 0 0 0;
    background-color: #f7f7f7;
    height: 903px;
    padding: 106px 0 0 0;
}
.tour .wrapper {
    position: relative;/*more정렬의 기준*/
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 12px 0;
}
.tour .list {
    margin: 45px 0 0 0;
}
.tour .list ul {
    display: flex; /*li를 좌우배치*/
    justify-content: space-between;
}
.tour .list ul li {
    width: 16.03%;
    /*1260=ul넓이 202=li하나 넓이
    li는 ul의 몇퍼센트인가? */
}

.tour .list ul li a {
    display: flex; /*h3랑 p테그 내기기위해*/
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 495px;
    /*li의 사이즈와 ass의 사이즈와 같게 눌리게 하기위해 
    li 넓이를 갖음 a가 높이를 가여야함*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.tour .list ul li.bg1 a {
    background-image: url(../images/tour1.jpg);
} 
.tour .list ul li.bg2 a {
    background-image: url(../images/tour2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../images/tour3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../images/tour4.jpg);
}
.tour .list ul li.bg1 a h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
.tour .list ul li.bg1 a p {
    display: none;
}
/*li에 on클랴스가 들어갔을때*/
.tour .list ul li.on {
    width: 49.04%;
}
.tour .list ul li.on a {
    align-items: flex-start;
    padding: 0 0 44px 49px;
}
.tour .list ul li.on a h3 {
    font-size: 24px;
    margin: 0 0 7px 0;
}
.tour .list ul li.on a p {
    display: block;
    /*none으로 숨긴요소는 none 빼고 뭐든 줘도 나타남
    다만 block이 만만해서 대부분 block을 줌*/
}
.community {
    height:930px ;
    background: url(../images/cummunity_bg.jpg) no-repeat center center/ cover  ;
    color: #fff;
    padding: 150PX 0 0 0;
}
.community .wrapper {
    display: flex;/*tit list 좌우배치*/
    justify-content: space-between;
}
.community .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
.community .inner {
    display: flex; /*notice  inner좌우배치*/
    gap: 0 12px;
}
.community .inner .notice {
    backdrop-filter: blur(14px);
    background-color: rgba(1, 32,63 ,0.5);
    width: 548px;
    height: 383px;
    border-radius: 10px;
    padding: 42px 40px 0 40px;
    position: relative; /*more의 정렬의 기준*/
}

.community .inner .notice h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
.community .inner .notice ul {
    margin: 41px 0 0 0;
}

.community .inner .notice ul li a {
    display: flex;
    justify-content: space-between;
    padding: 11px 0 11px 0;
}
.community .inner .notice ul li a h4 {
    width: calc(100% - 105px);
    /* 제목은 날짜가 들어갈 공간 뺴고 전체
    a를 기준으로 100%
    1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .inner .notice ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.community .inner .notice .more {
    position: absolute;
    right: 37px;
    top: 43px;
    width: 14.2px;
    height:14.2px ;
    
}
.community .inner .notice .more span {
    display: none;
}
/*notice over스타일*/
.community .inner .notice:hover {
    background-color:#3B4D62
}
.community .inner .notice ul li a:hover h4 {
    color: #8EEEFF;
}
.community .inner .notice ul li a:hover span {
    color: #8EEEFF;
}
.community .inner .service {
    width: 312px;
}
.community .inner .service ul li {
    width: calc(50% - 6px);
    /*100%나누기 한줄에 나오는 li 갯수= 100/2=50%
    한줄의 여백의 합 12px/ 한줄에 나오는 li 갯수=>12/2 =6*/
}
footer {
    margin: 1000px 0 0 0;
}