/*메인페이지 css*/
@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex; /* logo-gnb를 좌우 배치하기위해*/
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex; /*li를 좌우로 배치하기위해*/
}
header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 100px; /*header의 높이와 동일한 값주기*/
    display: block;
    padding: 0 29px 0 29px; /*paadding은 안여백이기땜에 내 살이늘어난다고 생각하면됨*/
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center; 
    /* 센터센터: 모니터 크기가 다르니까 큰모니터에서도 사이즈에맞게 들어가기위해서*/
    /* no-repeat: 사진반복 방지*/
    height: 743px;
    color: #fff;
}
.visual h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 254px 0 10px 0;
}

.biz {
    margin: 147px 0 0 0;
    text-align: center;
}
.biz .tit h2 {
    font-size: 40px;
    font-weight: 700;
    color: #021A63;
}
.biz .list {
    margin: 36px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}

.biz .list ul li {
    width: 293px;
}
.biz .list ul li a {
    display: block; /* a태그에서는 block을 꼭줌*/
}
.biz .list ul li a h3 {
    font-size: 32px;
    color: #1d1d1d;
    margin: 14px 0 7px 0;
}
.biz .list ul li a .txt {
    margin: 0 22px 0 22px;
}
.biz .list ul li a .txt .more {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 14px 53px 14px 53px ;
}

.brand {
    margin: 104px 0 0 0 ;
    background: url(../images/brand_bg.jpg) no-repeat center center;
    color: #fff;
    height: 835px;
}
.brand h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
   padding: 292px 0 26px 0;
    display: block;
}
.brand a {
    border: 1px solid #fff;
    margin: 24px 0 0 0;
    display: inline-block;
    padding: 15px 58px 15px 58px;
    border-radius: 30px;
}

footer {
    background-color: #2D2D2D;
    padding: 64px 0 82px 0;
    color: rgba(225, 225 ,225, 0.8)
}
footer .f-nav ul {
    display: flex; /*li를 좌우배치*/
    gap: 0 40px; /*위아래px -좌우px*/
}
footer .f-info{
    margin: 17px 0 25px 0;
    display: flex;/**/
    gap: 0 24px;
}
footer .f-info strong {
    font-weight: 700;
}
footer .copyright {

}
                