@import url(common.css);
@import url(default.css);
@import url(fonts.css);

header {
    position: absolute; 
    /*wrap을 기준으로 정렬. wrap영역을 벗어나지 않고 최소 여백주기위해*/
    left: 0;
    top: 0;
    z-index: 100;/*header는 맨위 100층 에 위치 그냥 항상주기*/
    width: 100%;/*absolute를 주면 너비를 상실하기땜에 꽉채우게 100%주기*/
    height: 80px;/* 헤더 높이 주기*/
    color: #fff;/*글씨 색상변경*/
}
header .wrapper {
    display: flex; /*logo -gnb-util 좌우 배치(개수상관 없음)*/
    justify-content: space-between;
    align-items: center;/*logo와 gnb를 중앙배치하여 로고를 중간으로 보내기위해*/
}
.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center/ cover;
    border-radius: 0 0 200px 0;
}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 딱 맞춰서 높이를 주는 단위 vh*/
    min-height: 580px;
    /*줄어드는 최소 높이 설정= 580px보다 적어지면 줄어드는걸 멈춤
    여기서 더 줄면 글짜도 날라가고 헤더 찌그러 드니까 최소높이 두기*/
    position: relative;/*life 정렬의 기준*/
}
header .gnb ul {
    display: flex; /*ul을 좌우 배치*/
}
header .gnb ul li a {
    display: block;
    font-size: 22px;
    line-height: 80px; 
    /*행간 높이를 header 의 높이와 같은 값주기. 왜나면 거기에도 눌려야하기땜*/
    padding: 0 22px 0 22px;/*좌우 너비주기*/

}
.visual h2 {
    padding: 30vh 0 0 0; /* 로고이미지도 브라우저 길이에따라서 확대축소되야해서*/
    text-align: center; /*로고 중간배치*/
}
.visual .life {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 동그라미는 50%*/
    background-color: #273961;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 1.3;
    padding: 92px 0 0 0;
    box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.1);
    /*박스그림자= 수평거리,수직거리,범짐거리 (빨 초 파 투명도)*/
    position: absolute; /*before 정렬의 기준*/
    right: -100px;
    bottom: -100px;
}

.visual .life strong {
    font-weight: 800;
}
/*life 오버스타일*/
.visual .life:hover {
    color: #8EEEFF;
    box-shadow: 9px 9px 11px 0 rgba(0, 0, 0, 0.13);
}
.visual .life:hover::before {
    background-image: url(../images/life_ico_over.svg);
}


.visual .life::before {
    content: "";
    position: absolute; /*life를 기준으로 정렬*/
    left: 0;
    top: 55px;
    width: 100%;/* 정렬의 기준인 life의 넓이를 기준으로 100%*//*life와 넓이를 똑같게 만듬 센터 넣을거니까*/
    height: 35px;
    background: url(../images/life_ico.svg) no-repeat center top; 
    /*가로 중앙(center) + 세로 위쪽(top)cover주면 짤림 꽉참*/
}

header .util {
    display: flex;
    gap: 0 58px;
}
header .util .weather {
    padding: 24px 0 0 0;
    font-size: 16px;
    position: relative;/*weather정렬의 기준*/
}
header .util .weather::before {
    content: "";
    position: absolute;/*weather기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 40px;
    height: 100%;
    background: url(../images/util_weather.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
header .util .weather a {
    display: block;
}
header .util .sea {
    position: relative;
    padding: 24px 0 0 0;/*margin이 아닌 padding을 준이유= 상자자체가 밑으로내려가 아이콘도내려가서
    margin = 바깥 여백 → 박스 자체가 옆/위에서 밀려남
    padding = 안쪽 여백 → 박스 안의 콘텐츠(글자 등)가 안쪽으로 밀려남*/
    font-size: 16px;
}
header .util .sea::before {
    content: "";
    position: absolute;/*sea기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 53px;
    height: 100%;
    background: url(../images/util_sea.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
header .util .flow {
    position: relative;
    padding: 24px 0 0 0;
    font-size: 16px;
}
header .util .flow::before {
    content: "";
    position: absolute;/*sea기준으로 정렬*/
    left: 0;
    top: -12px;
    width: 40px;
    height: 100%;
    background: url(../images/util_flow.svg) no-repeat center center ;
    /*배경이미지의 사이즈를 안주면 원래 사이즈로 돌아감*/
}
.culture {
    margin: 153px 0 0 0;
}
.culture .wrapper {
    position: relative;/*more 정렬의 기준 */
}
.tour .more,
.culture .more {
    position: absolute;/*wrapper를 기준으로 정렬*/
    right: 15px;
    top: 62px;
}
.culture .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
.culture .list {
    margin: 45px 0 0 0;
}
.culture .list ul {
    display: flex; /*li를 좌우로 배치*/
    justify-content: space-between;
}
.culture .list ul li {
    /*감싸고 있는 ul의 넓이의 몇개가 정렬(3개=33.33%)
    100% 나누기 한줄의  li의 개수=> 100/3=33.33%
    한줄의 사이 여백의 합 = 24*2=48 / 한줄의 li 갯수 = 48/3=16
    calc(33.33%-16px)
    */
    /*“한 줄에 3개 들어가야 하는데, 여백(24px)이 있으니까 각 칸을 조금씩 줄여서 딱 맞추자”*/
    width: calc(33.33% - 16px);
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden;
    height: 280px;
}

.culture .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 22px 0 10px 0;
}
.tour .more a,
.culture .more a {
    padding: 0 16px 0 0;
    display: inline-block; /*block이랑인라인블럭 무슨차이?*/
    font-weight: 800;
    position: relative;/*afer정렬의 기준*/
}
.tour .more a::after,
.culture .more a::after {
    content: "";
    position: absolute;/*a를 기준으로 정렬*/
    right: -16px;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(../images/culture_more.svg)no-repeat center center;
}
.tour .more a:hover::after,
.culture .more a:hover::after {
    animation-name: more;
    animation-duration: 1s;
    animation-iteration-count:3;
}
@keyframes more { 
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.tour {
    margin: 111px 0 0 0;
    background-color: #f7f7f7;
    height: 903px;
    padding: 106px 0 0 0;
}
.tour .wrapper {
    position: relative;/*more정렬의 기준*/
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 12px 0;
}
.tour .list {
    margin: 45px 0 0 0;
}
.tour .list ul {
    display: flex; /*li를 좌우배치*/
    justify-content: space-between;
    gap:0 12px /*좌우여백*/
}
.tour .list ul li {
    /*width: 16.03%;*/
    /*1260=ul넓이 202=li하나 넓이
    li는 ul의 몇퍼센트인가? 마우스 오버할때 너비가 바껴야해서*/
    transition: 0.5s;
    overflow: hidden;/*사진 넘치는거 자르기*/
    flex:1 1 0%
}

.tour .list ul li a {
    display: flex; /*h3랑 p테그 내기기위해*/
    flex-direction: column; /*세로방향*/
    justify-content: flex-end;/*밑으로 배체*/
    align-items: center;
    padding: 0 0 47px 0;
    height: 495px;
    /*li의 사이즈와 ass의 사이즈와 같게 눌리게 하기위해 
    li 넓이를 갖음 a가 높이를 가여야함*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.tour .list ul li.bg1 a {
    background-image: url(../images/tour1.jpg);
} 
.tour .list ul li.bg2 a {
    background-image: url(../images/tour2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../images/tour3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../images/tour4.jpg);
}
.tour .list ul li.bg1 a h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
.tour .list ul li.bg1 a p {
    display: none;
}
.tour .list ul li.bg2 a p {
    display: none;
}
.tour .list ul li.bg3 a p {
    display: none;
}
.tour .list ul li.bg4 a p {
    display: none;

}
/*li에 on클랴스가 들어갔을때*/
.tour .list ul li.on {
    /*width: 49.04%;*/
    flex: 2.5 1 0%;
}
.tour .list ul li.on a {
    align-items: flex-start;
    padding: 0 0 44px 49px;}
.tour .list ul li.on a h3 {
    font-size: 24px;
}
.tour .list ul li.on a p {
    display: block;/*none으로 숨긴요소는 none 빼고 뭐든 줘도 나타남
    다만 block이 만만해서 대부분 block을 줌*/
    white-space: nowrap;/*줄바꿈 금지*/
}
.community {
    height:930px ;
    background: url(../images/cummunity_bg.jpg) no-repeat center center/ cover  ;
    color: #fff;
    padding: 150PX 0 0 0;
}
.community .wrapper {
    display: flex;/*tit list 좌우배치*/
    justify-content: space-between;
}
.community .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 11px 0;
}
.community .inner {
    display: flex; /*notice  inner좌우배치*/
    align-items: flex-end; /*밑으로 배치*/
    gap: 0 12px;

}
.community .inner .notice {
    backdrop-filter: blur(14px);
    background-color: rgba(1, 32,63 ,0.5);
    width: 548px;
    height: 383px;
    border-radius: 10px;
    padding: 42px 40px 0 40px;
    position: relative; /*more의 정렬의 기준*/
}

.community .inner .notice h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
.community .inner .notice ul {
    margin: 41px 0 0 0;
}

.community .inner .notice ul li a {
    display: flex;/*h4-span 좌우배치*/
    justify-content: space-between;
    padding: 11px 0 11px 0;
}
.community .inner .notice ul li a h4 {
    width: calc(100% - 105px);
    /* 제목은 날짜가 들어갈 공간 뺴고 전체
    a를 기준으로 100%
    제목줄 1줄제한 */
    white-space: nowrap;/*무조건 1줄*/
    overflow: hidden;/*영역넘어가면짤라*/
    text-overflow: ellipsis;/*쩜쩜쩜 추가해서 잘라*/
}
.community .inner .notice ul li a span {
    color: rgba(255, 255, 255, 0.8);/*날짜색상 연하게*/
}
.community .inner .notice .more {
    position: absolute;
    right: 37px;
    top: 43px;
    width: 14.2px;
    height:14.2px ;
    
}
.community .inner .notice .more span {
    display: none;
}
/*notice over스타일*/
.community .inner .notice:hover {
    background-color:#3B4D62
}
.community .inner .notice ul li a:hover h4 {
    color: #8EEEFF;
}
.community .inner .notice ul li a:hover span {
    color: #8EEEFF;
}
.community .inner .service {
    width: 300px;
}
.community .inner .service ul {
    display: flex; /*li를 좌우배치*/
    flex-wrap: wrap; /*2줄 이상 허용*/
    gap: 12px 12px;
}
.community .inner .service ul li a {
    height: 150px;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 32,63 ,0.5);
    border-radius: 10px;
    display: block;
}
.community .inner .service ul li {
    width: calc(50% - 6px);
    /*100%나누기 한줄에 나오는 li 갯수(2개 li블럭)
     => 100/2=50%
    한줄의 여백 (12px)/ 한줄에 나오는 li 갯수(2) =>12/2 =6 */
    /*“한 줄에 2개 들어가야 하는데, 여백(12px)이 있으니까 각 칸을 조금씩 줄여서 딱 맞추자”*/
}

.community .inner .service ul li a {
    height:150px ;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 32,63 ,0.5);
    border-radius: 10px;
    display: block;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.3;
    padding: 28px 0 0 28px;

}
.community .inner .service ul li a::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;

}
.community .inner .service ul li.ico1 a::after {
    background-image: url(../images/cummunity_service1.svg);
}

.community .inner .service ul li.ico2 a::after {
    background-image: url(../images/cummunity_service2.svg);
}

.community .inner .service ul li.ico3 a::after {
    background-image: url(../images/cummunity_service3.svg);
}

.community .inner .service ul li.ico4 a::after {
    background-image: url(../images/cummunity_service4.svg);
}
.community .inner .service ul li a:hover {
    background-color: #273961;
}



footer {
    padding: 80px 0 80px 0;
    background-color: #1B202A;
    color: #fff;
}
footer .wrapper {
    display: flex; /*left right 좌우배치*/
    justify-content: space-between;
}
footer .left_area .f_nav ul {
    display: flex;
    gap: 0 37px;
}
footer .left_area .f_nav ul li {
    position: relative;/*after,a의 정렬의 기준*/
}
footer .left_area .f_nav ul li::after {
    content: "";
    position: absolute; /*li기준으로 정렬*/
    right: -19px;
    top: 6px;
    width: 1px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.2);

}
footer .left_area .f_nav ul li:last-child::after {
    display: none; /* 마지막 li 의 after를 불러서 숨김처리*/
}
footer .left_area .f_nav ul li.privacy a {
    font-weight: 800;
}
footer .left_area .f_nav ul li a::after {
    content: "";
    position: absolute; /*li를 기준으로 정렬*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    opacity: 0;
}
footer .left_area .f_nav ul li a:hover::after {
    opacity: 1;
}
footer .left_area .f_info {
    margin: 18px 0 18px 0;
    display: flex;
    gap: 32px;
}
footer .left_area .copyright .no span{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}
footer .left_area .copyright .no span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}   
footer .right_area {
    margin: 5px 0 0 0 ;
    display: flex; /*family_site ,top 좌우배치*/
    align-items: flex-start; /* 플랙스 위로 정렬*/
    gap: 0 3px; /*위아래 , 좌우 여백*/
}
footer .right_area .family_site {
    position: relative; /*family_detail의 정렬의 기준*/
}
footer .right_area .family_site button {
    width: 180px;
    height: 50px;
    background-color: #3B4D62;
    text-align: left;
    padding: 0 0 0 18px;
    position: relative; /*after정렬기준*/
}
footer .right_area .family_site button::after {
    content: "";
    position: absolute;/*button을 기준으로 정렬 */
    right: 15px;
    top: 16px;
    width: 21px;
    height:18px ;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .right_area .family_site button.family_open::after {
    background-image: url(../images/family_open.svg);
}
footer .right_area .family_site button.family_close::after {
    background-image: url(../images/family_close.svg);
}
footer .right_area .family_site button.family_close {
    display: none; /*처음엔 안보임*/
}
footer .right_area .family_site .family_detail {
    position: absolute;
    left: 0;
    bottom: 51px;
    width: 100%; /*family_site 넓이를 기준으로 100%*/
    background-color: #3B4D62;
    padding: 24px 0 22px 18px;
    display: none;
}
footer .right_area .family_site .family_detail ul li a {
    display: block;
    padding: 3px 0 3px 0;
}
footer .right_area .family_site .family_detail ul li a:hover {
    font-weight: 800;
}
footer .right_area .family_site .family_detail ul li a span {
  position: relative;
}
footer .right_area .family_site .family_detail ul li a span::after {
    content: "";
    position: absolute;
    right: -31px;
    top: 2px;
    width: 13px;
    height: 13px;
    background: url(../images/family_blank.svg) no-repeat center center;
}
/*family_site가 열렸을때= open클래스가 추가되었을때 
*/
footer .right_area .family_site.open .family_detail {
    display: block; /* none으로 숨겼다가 나타날때는 display아무 값이나 줘도됨
    단 블럭이 만만하니까 블럭을 주는거임*/
}
footer .right_area .family_site.open button.family_close {
    display: block;/*숨겼다가 나타나기*/
}
footer .right_area .family_site.open button.family_open {
    display: none;
}
footer .right_area .top {
    width: 62px;
    height: 50px;
    background-color: #3B4D62;
    font-size: 14px;
    padding: 17px 0 0 0;
    position: relative; /*before 정렬의 기준*/
}
footer .right_area .top::before {
    content: "";
    position: absolute;/*top을 기준으로 정렬*/
    left: 0;
    top: 12px;
    width: 100%;
    height: 5px;
    background: url(../images/top.svg) no-repeat center center;
}
